
#signIn {
    position: relative;
    background-color: black;
}

#login{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#login > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// ------------------------------------------------------
$portalSize: 30vh;
$portalIn: $portalSize * 90/100;

$minPortal: 350px;
$minPortalIn: $minPortal * 90/100;

#login > div > div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: 0.34vh solid white;
    border-radius: 100%;
    width: $portalSize;
    height: $portalSize;
}

#login > div > div:first-child > :first-child{
    border: 0.67vh solid white;
    border-radius: 100%;
    width: $portalIn;
    height: $portalIn;
}
// ------------------------------------------------------

#login > div > div:last-child {
    display: flex;
    position: relative;
}

#login > div > div:last-child > div:first-child {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 3.34vh;
}

#login > div > div:last-child > div:last-child{
    display: flex;
    height: 10vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    margin-top: 3.34vh;
}

$inputHeight: 2.5vh;
$inputWidth: 16.7vh;
$inputPaddingLeft: 1.34vh;
$inputRadius: 3.34vh;

#login > div > div:last-child > div:last-child input {
    border-radius: $inputRadius;
    padding: 0;
    font-size: 1.17vh;
    border: unset;
    padding-left: $inputPaddingLeft;
    height: $inputHeight;
    width: $inputWidth;
}

#login button {
    border-radius: $inputRadius;
    height: $inputHeight + 0.33vh;
    width: $inputWidth + $inputPaddingLeft;
    color: white;
    font-weight: 600;
    font-size: 1.17vh;
    background-color: black;
    border: 0.34vh solid white;
}

#login button:hover {
    background-color: white;
    color: black;
}

#error {
    position: absolute;
    top: -0.5vh;
    font-size: 1.34vh;
    margin-top: 0.5vh;
    margin-left: 0.34vh;
    color: rgb(241, 15, 15);
}
