
<div id="signIn" v-on:keyup.enter="login">
    <span class="backPage">
        <GoBackComponent />
    </span>
    <div id="login">
        <div>
            <div>
                <div></div>
            </div>
            <div>
                <div v-if="error.enabled" id="error">{{error.msg}} ({{error.count}})</div>
                <div>
                    <input placeholder="username" v-model="auth.username" />
                    <input placeholder="password" type="password" v-model="auth.password" />
                    <button @click="login()">ENTER</button>
                </div>
            </div>
        </div>
    </div>
</div>