@import './../../../theme';

$iconSize: 70px;

#homePage{
    display: flex; 
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    height: 100%;
}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 500px;
    color: white;
    background-image: url("http://localhost:5173/imgBannerTest.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#banner > div{
    width: 550px;
    margin: 70px 0px 50px 50px;
}

#banner > div > div{
    width: 485px;
    background-color: rgb(17, 17, 17, 0.6); 
    border-radius: 30px;
    padding: 15px 0px 15px 28px;
    margin-bottom: 20px;
}

#banner h1 {
    font-size: 40px;
    margin-left: 25px;
}

#banner h2 {
    font-size: 25px;
    font-weight: 200;
    width: 500px;
    height: 95px;
    margin: 0px;
}

#banner button {
    padding: 0px 17px; 
    height: 40px;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size: 19px;
    margin-left: 25px;
    color: white;
    background-color: $greenColor;
}

#banner button:hover {
    color: black;
    background-color: white;
}

#options{
    font-weight: 600;
    display: flex;
    width: 70%;
    margin-top: 40px;
    justify-content: space-around;
}

#options > div > div:nth-child(2){
    margin-top: 10px;
    cursor: default;
    text-align: center;
}

#options .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    cursor: pointer;
    border-radius: 100%;
    background-color: rgb(17, 17, 17);
    color: white;
    width: $iconSize;
    height: $iconSize;
    text-decoration: unset;
}

#releases {
    margin: 40px;
    width: 90%;
    height: 420px;
}

#releases > div:first-child{
    display: flex;
    align-items: center;
    padding-left: 20px;
    justify-content: flex-start;
    height: 30px;
}

#cardList{
    display: flex;
}

.card {
    display: flex;
    flex-direction: column;
    width: 255px;
    height: 320px;
    margin: 20px 0px 0px 20px;
}

.card > a {
    height: 84%;
}

.card > a img {
    border-radius: 10px;
}

.card > div:nth-child(2) {
    display: flex;
    margin-top: 10px;
    height: 8%;
    padding-left: 3px;
}

.card > div:nth-child(3) {
    display: flex;
    align-items: center;
    height: 8%;
}

.card > div:nth-child(3) > * {
    margin-left: 15px;
}

.card > div:nth-child(3) > :first-child {
    margin-left: 3px;
}

.nintendo {
    display: flex;
    padding: 3px 3px;
    align-items: center;
    border-radius: 15px;
    background-color: red; 
    color: white;
}

.nintendo > div{
    border: 1px solid white;
    border-radius: 15px;
    padding: 3px 8px;
}