<div id="profilePage">
    <span class="backPage">
        <router-link to="/">Back</router-link>
    </span>
    <div id="profile">
        <div>
            <div>
                <div id="searchProfile">
                    <input placeholder="search user profile" />
                    <div>search</div>
                </div>
            </div>
            <div>
                <div class="backImageConfig"></div>
                <div></div>
            </div>
            <div id="userProfile">
                <div>
                    <div class="backImageConfig"></div>
                    <div>
                        <h2>GAME NAME</h2>
                        <div>
                            <div>Score: 8.24</div>
                            <div>Ranked: #156</div>
                            <div>Popularity: #322</div>
                            <div>Linguages: Brazil</div>
                            <div>Genres: Action, Comedy, Shounen</div>
                        </div>
                        <div id="network">
                            <div>
                                <button>Add to List</button>
                                <select name="pets" id="pet-select">
                                    <option value="Best">Best</option>
                                    <option value="Great">Great</option>
                                    <option value="Very Good">Very Good</option>
                                    <option value="Ok">Ok</option>
                                    <option value="Meh">Meh</option>
                                    <option value="Horrible">Horrible</option>
                                </select>
                                <select name="pets" id="pet-select">
                                    <option value="">Completed</option>
                                    <option value="Playing">Playing</option>
                                    <option value="Plan to Play">Plan to Play</option>
                                    <option value="Dropped">Dropped</option>
                                    <option value="On Hold">On Hold</option>
                                    <option value="Replaying">Replaying</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="statistics">
                    <div>
                        <div>
                            <div>
                                <div style="background-color: green;"></div>
                                <div>Played</div>
                                <div>83%</div>
                            </div>
                            <div>
                                <div style="background-color: blue;"></div>
                                <div>Complete</div>
                                <div>28%</div>
                            </div>
                            <div>
                                <div style="background-color: yellow;"></div>
                                <div>On-Hold</div>
                                <div>10%</div>
                            </div>
                            <div>
                                <div style="background-color: red;"></div>
                                <div>Dropped</div>
                                <div>2%</div>
                            </div>
                            <div>
                                <div style="background-color: gray;"></div>
                                <div>Plan to Play</div>
                                <div>54%</div>
                            </div>
                            <div>
                                <div style="background-color: rgb(7, 180, 180);"></div>
                                <div>Replayed</div>
                                <div>4%</div>
                            </div>
                        </div>
                        <div>
                            <div>
                                <div>Running Time</div>
                                <div>84m approx.</div>
                            </div>
                            <div>
                                <div>Status</div>
                                <div>Airing</div>
                            </div>
                            <div>
                                <div>Aired</div>
                                <div>10/03/2023 - 10/04/2023</div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <img src="https://cdn-icons-png.flaticon.com/512/64/64720.png" width="230px" height="230px"
                            alt="imagem" />
                    </div>
                </div>
            </div>
            <div id="gameData">
                <div>
                    <div class="backImageConfig" style="background-image: url('https://cdn2.unrealengine.com/unreal-engine-high-on-life-cartel-art-1900x1080-891b8d90d47a.jpg');"></div>
                    <div>
                        <div v-for="item in [1,2,3,4,5]" class="backImageConfig" 
                        style="background-image: url('https://cdn2.unrealengine.com/unreal-engine-high-on-life-cartel-art-1900x1080-891b8d90d47a.jpg');"></div>
                    </div>
                    <div>
                        <div>
                            <div>
                                <font-awesome-icon :icon="['fas', 'chevron-right']" />
                            </div>
                            <div>Main Staff</div>
                        </div>
                        <div>
                            <div>
                                <font-awesome-icon :icon="['fas', 'chevron-right']" />
                            </div>
                            <div>Main Cast</div>
                        </div>
                        <div>
                            <div>
                                <font-awesome-icon :icon="['fas', 'chevron-right']" />
                            </div>
                            <div>Requisitos de Sistema</div>
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, eveniet quibusdam facere
                        aspernatur similique amet, inventore dolore magni a adipisci veritatis incidunt! Dolorem quis
                        consectetur voluptates vel optio, nam tempora.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, eveniet quibusdam facere
                        aspernatur similique amet, inventore dolore magni a adipisci veritatis incidunt! Dolorem quis
                        consectetur voluptates vel optio, nam tempora.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, eveniet quibusdam facere
                        aspernatur similique amet, inventore dolore magni a adipisci veritatis incidunt! Dolorem quis
                        consectetur voluptates vel optio, nam tempora.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, eveniet quibusdam facere
                        aspernatur similique amet, inventore dolore magni a adipisci veritatis incidunt! Dolorem quis
                        consectetur voluptates vel optio, nam tempora.
                    </div>
                    <div>
                        <div>Network</div>
                        <div>
                            <font-awesome-icon :icon="['fab', 'twitter']" />
                            <font-awesome-icon :icon="['fab', 'square-facebook']" />
                            <font-awesome-icon :icon="['fab', 'instagram']" />
                            <font-awesome-icon :icon="['fab', 'youtube']" />
                            <font-awesome-icon :icon="['fab', 'twitch']" />  
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <div id="classification">
                            <div>T</div>
                            <div>Game Rating system</div>
                        </div>
                        <div id="plataforms">
                            <div>Plataforms</div>
                            <div>
                                <div>Steam</div>
                                <div>Nitendo</div>
                                <div>Xbox</div>
                            </div>
                        </div>
                        <div id="achievements">
                            <div>Achievements</div>
                            <div>
                                <div>grande lutador</div>
                                <div>genio indeciso</div>
                                <div>melhores ideias</div>
                            </div>
                        </div>
                        <div id="information">
                            <div>Information</div>
                            <div>
                                <div>Premiede: Unknow</div>
                                <div>Producers: Something Productions</div>
                                <div>Licensors: Something Licencors</div>
                                <div>Studios: Something Studios</div>
                                <div>Source: Thinking</div>
                                <div>Themes: Something</div>
                                <div>Demografic: Something</div>
                            </div>
                        </div>
                        <div id="resources">
                            <div>Resources</div>
                            <div>
                                <div>API GAME</div>
                                <div>WikiPedia</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>