
#profilePage {
    min-height: 100vh;
    position: relative;
    background: #1a1a1a;
}

#profile > div:first-child {
    display: flex;
    position: relative;
    flex-direction: column;
    color: white;
}

#profile > div:first-child > div:first-child {
    display: flex;
    justify-content: flex-end;
    width: 98%;
    z-index: 110;  
}

#searchProfile {
    display: flex;
    margin-top: 30px;
    width: 350px;
    text-align: center; 
}

#searchProfile div {
    display: flex;
    align-items: center;
    padding: 0px 15px 0px 10px;
    background-color: #226d9bcb;
    border-top-right-radius: 30px;
    cursor: pointer;
    height: 32px;
    border-bottom-right-radius: 30px;
}

#searchProfile input {
    border: unset;
    width: 250px;
    outline: unset;
    height: 30px;
    border-radius: 30px;
    padding-left: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#profile > div:first-child > div {
    z-index: 100;
}

#profile > div:first-child > div:nth-child(2) > div:first-child {
    width: 100%;
    position: absolute;
    top: 0px;
    height: 582px;
    z-index: 8;
    background-image: url("https://images4.alphacoders.com/627/627083.png");
    background-position: unset;
}

#profile > div:first-child > div:nth-child(2) > div:nth-child(2) {
    width: 100%;
    height: 300px;
    position: absolute;
    top: 282px;
    z-index: 10;
    background-color: rgb(0, 0, 0, 0.7);
}

#userProfile {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 370px;
    margin-top: 150px;
}

#userProfile h2 {
    margin: 0px;
    font-weight: 100;
}

#userProfile > div:first-child {
    display: flex;
    width: 45%;
}

#network > div{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#network > div > * {
    margin-right: 10px;
}

#network > div > select {
    height: 35px;
    width: 120px;
    border: unset;
    font-weight: 600;
    padding-left: 8px;
}

#network > div > button {
    background-color: rgb(8, 8, 114);
    font-weight: 600;
    border: unset;
    color: white;
    font-size: 17px;
    height: 35px;
    width: 250px;
    margin-right: 150px;
    margin-bottom: 10px;
}

#userProfile > div:first-child >  div:first-child {
    border: 5px solid white;
    background-image: url("https://static.gamevicio.com/imagens_up/big/82/high-on-life-jogo-do-criador-de-rick-and-morty-ganha-25-minutos-de-gameplay-081951.jpg");
    background-position: unset;
    height: 350px;
    width: 280px;
}

#userProfile > div:first-child > div:nth-child(2) {
    margin-left: 20px;
    margin-top: 120px;
    width: 470px;
}

#userProfile > div:first-child > div:nth-child(2) > div {
    margin-top: 10px;
}

// -----------------------------------------------------------------------------------------------
#statistics {
    display: flex;
    width: 700px;
    margin-top: 30px;
    width: 44%;
    margin-left: -70px;
}

#statistics > div {
    width: 40%;
}

#statistics > div:nth-child(2) {
    padding: 20px 0px 0px 30px;
}

#statistics > div:nth-child(2) img{
    filter: invert(100%);
    margin-top: 25px;
    margin-left: 50px;
}

#statistics > div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 92px;
    margin-left: 30px;
}

#statistics > div:first-child  > div:first-child{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#statistics > div:first-child  > div:first-child > div{
    display: flex;
    width: 90%;
    text-align: center;
    justify-content: space-between;
}

#statistics > div:first-child  > div:first-child > div > div:first-child{
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

#statistics > div:first-child  > div:first-child > div > div:nth-child(2){
    text-align: start;
    width: 100px;
}

#statistics > div:first-child  > div:first-child > div > div:nth-child(3){
    width: 100px;
    text-align: end;
}

#statistics > div:first-child  > div:nth-child(2) {
    display: flex; 
    flex-wrap: wrap;
    text-align: center;
    margin-top: 30px;
    justify-content: space-around;
    height: 100px;
    width: 80%;
}

#statistics > div:first-child  > div:nth-child(2) > div:nth-child(2) > div:nth-child(2){
    color: rgb(203, 206, 26);
}

// -----------------------------------------------------------------------------------------------

#gameData {
    display: flex;
    justify-content: space-evenly;
    height: 600px;
}

#gameData > div:first-child{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40%;
}

#gameData > div:first-child > div {
    width: 90%;
}

#gameData > div:first-child > div:first-child{
    margin-top: 20px;
    height: 50%;
    background-color: white;
}

#gameData > div:first-child > div:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 15%;
}

#gameData > div:first-child > div:nth-child(2) > div{
    width: 19%;
    height: 80%;
    background-color: black;
}

#gameData > div:first-child > div:nth-child(3){
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px;
    height: 18%;
}

#gameData > div:first-child > div:nth-child(3) > div{
    display: flex;
    border-bottom: 3px solid white;
    padding: 7px 0px;
}

#gameData > div:first-child > div:nth-child(3) > div > div:first-child{
    font-size: 12px;
    margin: 0px 10px;
}
// ----------------------

#gameData > div:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 24%;
    padding-top: 25px;
}

#gameData > div:nth-child(2) > div{
    width: 95%;
}

#gameData > div:nth-child(2) > div:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 30px;
}

#gameData > div:nth-child(2) > div:nth-child(2) > div:first-child{
    margin-right: 10px;
}

#gameData > div:nth-child(2) > div:nth-child(2) > div:nth-child(2){
    margin-right: 5px;
}

#gameData > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > svg{
    margin: 10px 5px;
}

// ----------------------

#gameData > div:nth-child(3){
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24%;
    background-color: rgb(85, 85, 99);
}

#gameData > div:nth-child(3) > div > div {
    margin-top: 10px;
    width: 100%;
    text-align: start;
}

#gameData > div:nth-child(3) > div > div > div:first-child {
    border-bottom: 3px solid white;
    margin-bottom: 10px;
} 

#gameData > div:nth-child(3) > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    height: 97%;
}

#classification{
    display: flex;
    align-items: center;
    background: #1a1a1a;
    height: 45px;
}

#classification > div:first-child {
    text-align: center;
    background-color: yellow;
    color: black;
    height: 30px;
    line-height: 30px;
    width: 30px;
    margin: 0px 10px 0px 10px !important;
    border-bottom: 0px !important;
}   

// ------------------------------------------------------------------------

#gameRecomendation, #gameComments {
    margin-left: 80px;
    width: 65%;
}

#gameComments > div:first-child > input{
    padding-left: 10px;
    width: 94%;
    height: 30px;
    margin-bottom: 10px;
    border: unset;
}

#gameComments > div:first-child > button{
    height: 32px;
    width: 50px;
    font-weight: 600;
    border: unset;
    color: white;
    background-color: #3c3c44;
    transform: scaleY(-1);
}

#gameRecomendation > div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    margin-top: 10px;
}

#gameRecomendation > div:nth-child(2) > div {
    width: 200px;
    height: 100%;
    border-radius: 10px;
}

#gameComments {
    margin-top: 20px;
}

#gameComments > div:nth-child(2) > div {
    display: flex;
}

#gameComments > div:nth-child(2) > div:first-child {
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
    background-color: #3c3c44;
}

#gameComments > div:nth-child(2) > div:first-child > div {
    display: flex;
    justify-content: space-between;
    width: 250px;
}
// -----------

.userComment {
    background-color:#555563be;
    margin-bottom: 10px;
}

.userComment > div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
}

.userComment > div:first-child > img {
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: white;
}

.userComment > div:first-child > div{
    width: 100%;
}

.userComment > div:nth-child(2) {
    border-left: 2px solid #3c3c44;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 10px 0px 10px;
    margin: 10px 0px;
}
// -----------
.userComment > div:nth-child(2) > div:first-child {
    height: 90%;
}

.userComment > div:nth-child(2) > div:nth-child(2) {
    display: flex;    
    justify-content: space-between;
    margin-bottom: 3px;
}

.userComment > div:nth-child(2) > div:nth-child(2) > div:nth-child(2){
    display: flex;
    width: 200px;
    justify-content: space-between;
    margin-right: 10px;
}

.userComment > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div:last-child{
    color: #dfd219;
}

// ------------------------------------------------------------------