<div id="profilePage">
    <span class="backPage">
        <div @click="goBack()">Back</div>
    </span>
    <div id="profile">
        <div>
            <div>
                <div id="searchProfile">
                    <input placeholder="search user profile" />
                    <div>search</div>
                </div>
            </div>
            <div>
                <div class="backImageConfig"></div>
                <div></div>
            </div>
            <div id="userProfile">
                <div>
                    <div>
                        <div id="userInfo">
                            <div class="backImageConfig" :style="{backgroundImage: `url('${game.img}')`}">
                                <font-awesome-icon @click="fav()" v-if="star" :icon="['far', 'star']" class="favStar" style="color: white;"/>
                                <font-awesome-icon @click="fav()" v-else :icon="['far', 'star']" class="favStar" />
                            </div>
                            <div>
                                <h2 style="margin-bottom: 10px;">{{game.name}}</h2>
                                <div>
                                    <div>Score: {{game.score}}</div>
                                    <div>Ranked: #{{game.ranked}}</div>
                                    <div>Popularity: #{{game.popularity}}</div>
                                    <div>Languages: {{game.languages}}</div>
                                    <div>Type:</div>
                                    <div>
                                        <div style="margin-right: 5px;" v-for="item in game.type.slice(0, game.type.length - 1)">{{item}},</div>
                                        <div>{{game.type[game.type.length-1]}}</div>
                                    </div>
                                </div>
                                <div id="network">
                                    <div>
                                        <button>Add to List</button>
                                        <div>
                                            <select name="pets" id="pet-select">
                                                <option value="Best">Best</option>
                                                <option value="Great">Great</option>
                                                <option value="Good">Good</option>
                                                <option value="Fine">Fine</option>
                                                <option value="Meh">Meh</option>
                                                <option value="Horrible">Horrible</option>
                                            </select>
                                            <select name="pets" id="pet-select">
                                                <option value="">Completed</option>
                                                <option value="Playing">Playing</option>
                                                <option value="Plan to Play">Plan to Play</option>
                                                <option value="Dropped">Dropped</option>
                                                <option value="On Hold">On Hold</option>
                                                <option value="Replaying">Replaying</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="network">
                            <div>
                                <button>Add to List</button>
                                <div>
                                    <select name="pets" id="pet-select">
                                        <option value="Best">Best</option>
                                        <option value="Great">Great</option>
                                        <option value="Good">Good</option>
                                        <option value="Fine">Fine</option>
                                        <option value="Meh">Meh</option>
                                        <option value="Horrible">Horrible</option>
                                    </select>
                                    <select name="pets" id="pet-select">
                                        <option value="">Completed</option>
                                        <option value="Playing">Playing</option>
                                        <option value="Plan to Play">Plan to Play</option>
                                        <option value="Dropped">Dropped</option>
                                        <option value="On Hold">On Hold</option>
                                        <option value="Replaying">Replaying</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="statistics">
                        <div>
                            <div>
                                <div>
                                    <div style="background-color: green;"></div>
                                    <div>Played</div>
                                    <div>83%</div>
                                </div>
                                <div>
                                    <div style="background-color: blue;"></div>
                                    <div>Complete</div>
                                    <div>28%</div>
                                </div>
                                <div>
                                    <div style="background-color: yellow;"></div>
                                    <div>On-Hold</div>
                                    <div>10%</div>
                                </div>
                                <div>
                                    <div style="background-color: red;"></div>
                                    <div>Dropped</div>
                                    <div>2%</div>
                                </div>
                                <div>
                                    <div style="background-color: gray;"></div>
                                    <div>Plan to Play</div>
                                    <div>54%</div>
                                </div>
                                <div>
                                    <div style="background-color: rgb(7, 180, 180);"></div>
                                    <div>Replayed</div>
                                    <div>4%</div>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <div>Approx. Time</div>
                                    <div>{{game.time}}</div>
                                </div>
                                <div>
                                    <div>Status</div>
                                    <div>Airing</div>
                                </div>
                                <div>
                                    <div>Aired</div>
                                    <div>10/03/2023 - Unknow</div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <img src="https://cdn-icons-png.flaticon.com/512/64/64720.png" alt="imagem" />
                        </div>
                    </div>
                </div>
            </div>
            <div id="gameData">
                <div>
                    <div>
                        <div>
                            <div>
                                <div class="backImageConfig"
                                    style="background-image: url('https://cdn2.unrealengine.com/unreal-engine-high-on-life-cartel-art-1900x1080-891b8d90d47a.jpg');">
                                </div>
                                <div>
                                    <div v-for="item in [1,2,3,4,5]" class="backImageConfig"
                                        style="background-image: url('https://cdn2.unrealengine.com/unreal-engine-high-on-life-cartel-art-1900x1080-891b8d90d47a.jpg');">
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div>{{game.description}}</div>
                                <div>
                                    <div>Network</div>
                                    <div>
                                        <font-awesome-icon :icon="['fab', 'twitter']" />
                                        <font-awesome-icon :icon="['fab', 'square-facebook']" />
                                        <font-awesome-icon :icon="['fab', 'instagram']" />
                                        <font-awesome-icon :icon="['fab', 'youtube']" />
                                        <font-awesome-icon :icon="['fab', 'twitch']" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div>
                                <div>
                                    <font-awesome-icon :icon="['fas', 'chevron-right']" />
                                </div>
                                <div>Main Staff</div>
                            </div>
                            <div>
                                <div>
                                    <font-awesome-icon :icon="['fas', 'chevron-right']" />
                                </div>
                                <div>Main Cast</div>
                            </div>
                            <div>
                                <div>
                                    <font-awesome-icon :icon="['fas', 'chevron-right']" />
                                </div>
                                <div>Requisitos de Sistema</div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div id="classification">
                                <div>T</div>
                                <div>Game Rating system</div>
                            </div>
                            <div id="plataforms">
                                <div>Plataforms</div>
                                <div>
                                    <div v-for="item in game.plataforms">{{item}}</div>
                                </div>
                            </div>
                            <div id="achievements">
                                <div>Achievements</div>
                                <div>
                                    <div v-for="item in game.achievements">{{item}}</div>
                                </div>
                            </div>
                            <div id="information">
                                <div>Information</div>
                                <div>
                                    <div>Premiede: {{game.premiede}}</div>
                                    <div>Producers: {{game.producers}}</div>
                                    <div>Studio: {{game.studio}}</div>
                                    <div>Source: {{game.source}}</div>
                                    <div style="display: flex;">Themes:
                                        <div v-for="item in game.themes" style="margin-left: 5px;">{{item}}</div>
                                    </div>
                                </div>
                            </div>
                            <div id="resources">
                                <div>Resources</div>
                                <div>
                                    <div>Api Game</div>
                                    <div>WikiPedia</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="gameRecomendation">
                    <div>
                        <div>You May Like</div>
                        <div>
                            <router-link to="/singleGame" v-for="item in games" class="backImageConfig" @click="gameChoice(item)"
                                :style="{backgroundImage: `url(${item.img})`}">
                            </router-link>
                        </div>
                    </div>
                </div>
                <div id="gameComments">
                    <div>
                        <div>
                            <input placeholder="Make a comment" />
                            <button>
                                <font-awesome-icon :icon="['fas', 'reply']" />
                            </button>
                        </div>
                        <div>
                            <div>
                                <div>Últimas Análises</div>
                                <div>
                                    <div>Favorites (32)</div>
                                    <div>Recomendation (7)</div>
                                </div>
                            </div>
                            <div class="userComment" v-for="item in userComment">
                                <div>
                                    <router-link to="/profile" class="userCommentIMG backImageConfig" @click="userChoice(item)"
                                        :style="{backgroundImage: `url(${(item.sex === 'Male') ? imgType.male : imgType.female})`}"></router-link>
                                    <div>
                                        <div style="color: rgb(138, 189, 255);">{{item.nickName}}</div>
                                        <div style="font-size: 13px; margin-top: 5px;">Offline</div>
                                        <div style="font-size: 13px;">Publicado: July 8, 2023</div>
                                    </div>
                                </div>
                                <div>
                                    <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum, aliquid. Est
                                        minima,
                                        similique totam corporis minus esse dolore cum harum quaerat. Doloremque tempora
                                        ratione saepe
                                        fuga, quas dolores blanditiis ad.</div>
                                    <div>
                                        <div>Útil?</div>
                                        <div>
                                            <div>Yes</div>
                                            <div>No</div>
                                            <div>Funny</div>
                                            <div>Premiation</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>