<div id="profilePage">
    <div id="profile">
        <div class="backImageConfig">
            <div>
                <div id="searchBar">
                    <GoBackComponent :gChoice="gameChoice" class="backPage"/>
                    <span>
                        <input @keyup="searchGame" v-model="searchByGameName.name" placeholder="search game" />
                        <div>
                            <font-awesome-icon :icon="['fas', 'magnifying-glass']" />
                        </div>
                        <div id="searchResult">
                            <div>
                                <div v-for="item in foundGames" @click="feedGameData(item.id)">
                                    <span id="imageFromSearch" class="backImageConfig" :style="`background-image: url(${item.gameImage})`">
                                        <div></div>
                                    </span>
                                    <div>
                                        <div id="searchTitle">{{item.name}}</div>
                                        <div id="searchDetails">
                                            <span>{{(item.popularity)? "Popular" : "Normal"}}</span>
                                            <div>
                                                <div>| Score: {{item.score}}</div>
                                                <span>| Publication: {{item.release}} </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </span>
                </div>
            </div>
            <div></div>
            <div id="userProfile">
                <div>
                    <div>
                        <div id="userInfo">
                            <div class="backImageConfig" :style="{backgroundImage: `url('${registry.game.gameImage}')`}">
                                <div style="width: 100%; height: 100%; box-sizing: border-box; border: 5px solid rgba(255, 255, 255, 0.445);">
                                    <div v-if="auth.id != 0">
                                        <font-awesome-icon v-if="star" @click="fav()" :icon="['far', 'star']" class="favStar" style="color: white;"/>
                                        <font-awesome-icon v-else @click="fav()" :icon="['far', 'star']" class="favStar" />
                                    </div>
                                </div>
                            </div>
                            <div v-if="registry.game.name != undefined">
                                <h2>{{registry.game.name.slice(0,21)}}</h2>
                                <div>
                                    <div id="popular" 
                                    :style="`color: ${(registry.game.popularity)? '': 'rgb(199, 199, 199)'}; 
                                    border-color: ${(registry.game.popularity)? '': 'gray'};`" v-if="true">{{(registry.game.popularity)? 'POPULAR': 'NORMAL'}}</div>
                                    <div>Score: {{(typeof(registry.game.score) != typeof(""))? ((registry.game.score === 10)? 10 : registry.game.score.toFixed(1)) : registry.game.score}}</div>
                                    <div>Ranked: #{{registry.game.ranked}}</div>
                                    <div style="display: flex; flex-wrap: wrap;">Languages: 
                                        <div v-for="item in registry.game.language">&nbsp;
                                            <img :title="item.value"
                                            :src="`https://flagcdn.com/h20/${item.countrycod.toLowerCase()}.png`"
                                            :srcset="`https://flagcdn.com/h40/${item.countrycod.toLowerCase()}.png 2x,
                                            https://flagcdn.com/h60/${item.countrycod.toLowerCase()}.png 3x`"
                                            height="20" width="27"
                                            :alt="item.value">
                                        </div>
                                    </div>
                                    <div>GameStyle:</div>
                                    <div v-if="registry.game.gameType != undefined">
                                        <div style="margin-right: 5px;" v-for="item in registry.game.gameType.slice(0, registry.game.gameType.length - 1)">{{item.value}},</div>
                                        <div>{{registry.game.gameType[registry.game.gameType.length-1].value}}</div>
                                    </div>
                                </div>
                                <div id="network">
                                    <div v-if="auth.id != 0">
                                        <button @click="applyBtnAction" 
                                        :class="`${(cssUpdateBtnEffect)? 'cssBtnEffect':''}`" 
                                        :style="{backgroundColor: (registry.game.id == 0) ? 'rgb(66, 70, 97)': ''}">
                                            {{ 
                                                (cssUpdateBtnEffect) ? 'loading. . .': ((registry.id != 0)? "Update Status" : "Add to List" )
                                            }}
                                        </button>
                                        <div>
                                            <select :disabled="!registry.id != 0" name="vote" v-model="registry.note">
                                                <option v-if="!registry.id != 0" :value="undefined">unknow</option>
                                                <option disabled value="Unknow">Select</option>
                                                <option value="Incredible">Incredible</option>
                                                <option value="Great">Great</option>
                                                <option value="Good">Good</option>
                                                <option value="Fine">Fine</option>
                                                <option value="Meh">Meh</option>
                                                <option value="Horrible">Horrible</option>
                                            </select>
                                            <select :disabled="!registry.id != 0" name="registry" v-model="registry.progress">
                                                <option v-if="!registry.id != 0" :value="undefined">unknow</option>
                                                <option disabled value="Unknow">Select</option>
                                                <option value="Plan to Play">Plan to Play</option>
                                                <option value="Completed">Completed</option>
                                                <option value="Playing">Playing</option>
                                                <option value="Dropped">Dropped</option>
                                                <option value="On-Hold">On Hold</option>
                                                <option value="Replaying">Replaying</option>
                                            </select>
                                        </div>
                                    </div>
                                    <span v-else>
                                        <div>
                                            <router-link to="/signIn">SIGN IN</router-link>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div id="network">
                            <div v-if="auth.id != 0">
                                <button @click="applyBtnAction"
                                :class="`${(cssUpdateBtnEffect)? 'cssBtnEffect':''}`">
                                    {{
                                        (cssUpdateBtnEffect) ? 'loading. . .': ((registry.id != 0)? "Update Status" : "Add to List" )
                                    }}
                                </button>
                                <div>
                                    <select :disabled="!registry.id != 0" name="vote" v-model="registry.note">
                                        <option v-if="!registry.id != 0" :value="undefined">unknow</option>
                                        <option disabled value="Unknow">Select</option>
                                        <option value="Incredible">Incredible</option>
                                        <option value="Great">Great</option>
                                        <option value="Good">Good</option>
                                        <option value="Fine">Fine</option>
                                        <option value="Meh">Meh</option>
                                        <option value="Horrible">Horrible</option>
                                    </select>
                                    <select :disabled="!registry.id != 0" name="registry" v-model="registry.progress">
                                        <option v-if="!registry.id != 0" :value="undefined">unknow</option>
                                        <option disabled value="Unknow">Select</option>
                                        <option value="Plan to Play">Plan to Play</option>
                                        <option value="Completed">Completed</option>
                                        <option value="Playing">Playing</option>
                                        <option value="Dropped">Dropped</option>
                                        <option value="On-Hold">On Hold</option>
                                        <option value="Replaying">Replaying</option>
                                    </select>
                                </div>
                            </div>
                            <span v-else>
                                <div>
                                    <router-link to="/signIn">SIGN IN</router-link>
                                </div>
                            </span>
                            <div>GAME STATISTICS</div>
                        </div>
                    </div>
                    <div id="statistics">
                        <div>
                            <div>
                                <div v-for="item, index in graphicData">
                                    <div :style="`background-color: ${item.color}`"></div>
                                    <div>{{typeChoice(item.type)}}</div>
                                    <div>{{item.value * 100}}%</div>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <div>Approx. Time</div>
                                    <div>{{hoursMinutes()}}</div>
                                </div>
                                <div>
                                    <div>Publication</div>
                                    <div>{{registry.game.release}}</div>
                                </div>
                                <div>
                                    <div>
                                        <div>Favorites: {{registry.game.favRank}}</div>
                                        <div></div>
                                    </div>
                                    <div>
                                        <div style="margin-bottom: 3px;">Type</div>
                                        <div style="display: flex;">
                                            <div v-for="item in registry.game.status" style="margin: 0px 5px;">{{
                                                (item.value != undefined) ? ((item.value == 'Off')? 'Offline': 'Online') : 'unknow'
                                            }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <BarChartComponent :dataChart="graphicData" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="gameData">
            <div>
                <div>
                    <div>
                        <div>
                            <div class="backImageConfig"
                                :style="{backgroundImage: `url(${selectedImg})`}">
                            </div>
                            <div style="margin-top: 5px;" v-if="registry.game.imgs">
                                <div v-for="(item, index) in registry.game.imgs" class="backImageConfig" @click="changeImage(index)"
                                    :style="{backgroundImage: `url(${item.value})`, cursor: 'pointer', borderColor: `${(selectedImg == item.value)? 'white': 'rgba(89, 82, 86, 0.5)'}`}">
                                </div>
                            </div>
                        </div>
                        <div>
                            <div id="description" v-if="registry.game.description != undefined" :style="`overflow-y: ${(registry.game.description.length > 780)? 'auto': 'unset'}`">{{registry.game.description}}</div>
                            <div>
                                <div>Network</div>
                                <div>
                                    <font-awesome-icon :icon="['fab', 'twitter']" />
                                    <font-awesome-icon :icon="['fab', 'square-facebook']" />
                                    <font-awesome-icon :icon="['fab', 'instagram']" />
                                    <font-awesome-icon :icon="['fab', 'youtube']" />
                                    <font-awesome-icon :icon="['fab', 'twitch']" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div>
                                <font-awesome-icon style="transform: scale(1.35); color: rgb(184, 7, 7);" :icon="['fas', 'ban']" />
                                <!-- <font-awesome-icon @click="showStaff()" :icon="['fas', 'chevron-right']" /> -->
                            </div>
                            <div>
                                <div>Main Staff</div>
                                <div v-if="staffObj.enabled">
                                    <div style="display: flex;" v-for="item in staffObj.staff">{{item.position}}: {{item.staffName}}</div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div>
                                <!-- <font-awesome-icon @click="showCast()" :icon="['fas', 'chevron-right']" /> -->
                                <font-awesome-icon style="transform: scale(1.35); color: rgb(184, 7, 7);" :icon="['fas', 'ban']" />
                            </div>
                            <div>
                                <div>Main Cast</div>
                                <div v-if="castObj.enabled">
                                    <div v-for="item in castObj.cast">{{item.character}}: {{item.castName}}</div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div>
                                <!-- <font-awesome-icon @click="showRequirements()" :icon="['fas', 'chevron-right']" /> -->
                                <font-awesome-icon style="transform: scale(1.35); color: rgb(184, 7, 7);" :icon="['fas', 'ban']" />
                            </div>
                            <div>
                                <div>System Requirements</div>
                                <div v-if="requirementsObj.enabled">
                                    <div v-for="(value, property) in requirementsObj.requirement">{{property}}: {{value}}</div>
                                </div>
                            </div>                                
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <div id="classification">
                            <div>T</div>
                            <div>Game Rating System</div>
                        </div>
                        <div id="plataforms">
                            <div>Plataforms</div>
                            <div>
                                <div v-for="item in registry.game.plataform">{{
                                    (item.value != undefined)? item.value : 'unknow'
                                }}</div>
                            </div>
                        </div>
                        <div id="information">
                            <div>Information</div>
                            <div>
                                <div>Premiede: {{registry.game.premiede}}</div>
                                <div style="display: flex;">Producers:
                                    <div v-for="item in registry.game.producer" style="margin-left: 5px;">{{
                                        (item.value != undefined)? item.value : 'unknow'
                                    }}</div>
                                </div>
                                <div style="display: flex;">Studio: 
                                    <div v-for="item in registry.game.studio" style="margin-left: 5px;">{{
                                        (item.value != undefined)? item.value : 'unknow'
                                    }}</div>
                                </div>
                                <div>Source: {{registry.game.source}}</div>
                                <div style="display: flex;">Themes:
                                    <div v-for="item in registry.game.theme" style="margin-left: 5px;">{{
                                        (item.value != undefined)? item.value : 'unknow'
                                    }}</div>
                                </div>
                            </div>
                        </div>
                        <div id="achievements">
                            <div>Achievements</div>
                            <div>
                                <div v-for="item in registry.game.achievements">{{
                                    (item.value != undefined)? item.value : 'unknow'
                                }}</div>
                            </div>
                        </div>
                        <div id="resources">
                            <div>Resources</div>
                            <div>
                                <div>Api Game</div>
                                <div>WikiPedia</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="gameRecomendation">
                <div>
                    <div>You May Like</div>
                    <div>
                        <div v-for="item in recomendations" class="backImageConfig" @click="gameChoice(item.game.id)"
                            :style="{backgroundImage: `url(${item.game.gameImage})`}">
                        </div>
                    </div>
                </div>
            </div>
            <div id="gameComments">
                <div>
                    <div>
                        <input placeholder="Make a comment" v-model="commentToSend" />
                        <button @click="sendComment()" 
                        :style="`background-color: ${
                            (cssCommentBtnEffect != undefined)? ((cssCommentBtnEffect)? 'green': ''):'red'
                        }`">
                            <font-awesome-icon :icon="['fas', 'reply']" />
                        </button>
                    </div>
                    <div>
                        <div>
                            <div>Últimas Análises</div>
                            <div>
                                <div>Number of Comments ({{commentSize}})</div>
                                <div>Recomendations ({{registry.game.recommendation}})</div>
                            </div>
                        </div>
                        <div class="userComment" v-for="(item, index) in userComment">
                            <div>
                                <router-link class="userCommentIMG backImageConfig" :to="`/user/${item.user.id}`"
                                    :style="{backgroundImage: `url(${
                                        (item.user.userImage == null) ? ((item.user.sexuality === 'M') ? imgType.male : imgType.female) : item.user.userImage
                                    })
                                    `}"></router-link>
                                <div>
                                    <div style="color: rgb(138, 189, 255);">{{item.user.nickname}}</div>
                                    <div>
                                        <div>{{(item.user.status == 'off') ? 'Offline': 'Online'}}</div>
                                        <div>
                                            <div>Publicado:</div>
                                            <div>{{item.publication}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div>{{item.content}}</div>
                                <div>
                                    <div style="cursor: default;">
                                        Útil?
                                    </div>
                                    <div>
                                        <div style="cursor: not-allowed;">Yes</div>
                                        <div style="cursor: not-allowed;">No</div>
                                        <div style="cursor: not-allowed;">Funny</div>
                                        <div style="cursor: not-allowed;">Premiation</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <SeeMoreComponent v-if="userComment.length != commentSize" :moreResults="getComments"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>