
#profilePage {
    min-height: 100vh;
    position: relative;
}

#profile > div:first-child {
    display: flex;
    position: relative;
    flex-direction: column;
    color: white;
}

#profile > div:first-child > div:first-child {
    display: flex;
    justify-content: flex-end;
    width: 98%;
    z-index: 110;  
}

#searchProfile {
    display: flex;
    margin-top: 30px;
    width: 350px;
    text-align: center; 
}

#searchProfile div {
    display: flex;
    align-items: center;
    padding: 0px 15px 0px 10px;
    background-color: #226d9bcb;
    border-top-right-radius: 30px;
    cursor: pointer;
    height: 32px;
    border-bottom-right-radius: 30px;
}

#searchProfile input {
    border: unset;
    width: 250px;
    outline: unset;
    height: 30px;
    border-radius: 30px;
    padding-left: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#profile > div:first-child > div {
    z-index: 100;
}

$backImageHeight: 650px;

#profile > div:first-child > div:nth-child(2) > div:first-child {
    width: 100%;
    position: absolute;
    top: 0px;
    height: $backImageHeight;
    z-index: 8;
    background-image: url("https://images2.alphacoders.com/713/713713.jpg");
    background-position: center;
}

#profile > div:first-child > div:nth-child(2) > div:nth-child(2) {
    width: 100%;
    height: calc($backImageHeight - 282px);
    position: absolute;
    top: 282px;
    z-index: 10;
    background-color: rgb(0, 0, 0, 0.7);
}

// -------------------------------------------------------

#userProfile {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 160px;
    padding-bottom: 20px;
}

#userProfile h2 {
    margin: 0px;
    font-weight: 100;
}

#userProfile > div:first-child {
    display: flex;
    width: 90%;
    justify-content: space-between;
}

#userProfile > div:first-child > div:first-child > div:nth-child(2){
    display: none;
}

#userInfo {
    display: flex;
}

#userInfo >  div:first-child {
    text-align: end;
    height: 350px;
    width: 280px;
}

.favStar {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 12px 10px 15px 13px;
    border-bottom-left-radius: 15px;
    font-size: 20px; 
    color: rgb(235, 207, 52);
    cursor: pointer;
}

#userInfo >  div:nth-child(2) {
    padding: 75px 0px 0px 20px;
}

#userInfo >  div:nth-child(2) h2 {
    margin-bottom: 5px;
}

#userInfo > div:nth-child(2) > div:nth-child(2) > div:last-child {
    display: flex;
    max-width: 250px;
    margin-top: 5px;
    flex-wrap: wrap;
}

#popular {
    font-weight: 600;
    height: 15px;
    text-align: center;
    line-height: 19px;
    margin: 0px 0px 5px 0px;
    width: fit-content;
    color: rgb(235, 207, 52);
    border: 3px solid  rgb(235, 207, 52);
    padding: 5px 10px;
    border-radius: 20px;
}

#network > span > div {
    border: 3px solid gray; 
    color: gray; 
    height: 40px; 
    width: 240px; 
    margin-top: 15px; 
    text-align: center; 
    line-height: 40px; 
    font-weight: 600;
}

#network > span > div > a {
    display: flex;
    justify-content: center;
    color: gray;
    width: 100%;
}

#network > span > div::selection {
    background-color: transparent;
}

#network > div{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    min-width: 260px;
}

#network > div > div > * {
    margin-right: 10px;
}

#network > div > div > select {
    height: 35px;
    width: 120px;
    border: unset;
    font-weight: 600;
    padding-left: 8px;
}

#network > div > button {
    background-color: #153c91;
    font-weight: 600;
    border: unset;
    color: white;
    font-size: 17px;
    height: 35px;
    width: 250px;
    margin-bottom: 10px;
}

// -----------------------------------------------------------------------------------------------
#statistics {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding-bottom: 30px;
    width: 750px;
}

#statistics > div:nth-child(2) {
    height: fit-content;
}

#statistics > div:nth-child(2) img{
    width: 230px;
    height: 230px;
    filter: invert(100%);
}

#statistics > div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 280px;
}

#statistics > div:first-child  > div:first-child{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#statistics > div:first-child  > div:first-child > div{
    display: flex;
    width: 90%;
    text-align: center;
    justify-content: space-between;
}

#statistics > div:first-child  > div:first-child > div > div:first-child{
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 100%;
}

#statistics > div:first-child  > div:first-child > div > div:nth-child(2){
    text-align: start;
    width: 100px;
}

#statistics > div:first-child  > div:first-child > div > div:nth-child(3){
    width: 100px;
    text-align: end;
}

#statistics > div:first-child  > div:nth-child(2) {
    display: flex; 
    flex-wrap: wrap;
    text-align: center;
    margin-top: 30px;
    justify-content: space-around;
    height: 100px;
    width: 70%;
}

#statistics > div:first-child  > div:nth-child(2) > div:nth-child(2) > div:nth-child(2){
    color: rgb(203, 206, 26);
}

#statistics > div:first-child  > div:nth-child(2) > div:nth-child(3) > div{
    margin-top: 15px;
}

#statistics > div:first-child  > div:nth-child(2) > div:nth-child(3) > div:nth-child(2) > div:nth-child(2){
    text-align: center;
}

#statistics > div:first-child  > div:nth-child(2) > div:nth-child(3) > div:nth-child(2) > div:nth-child(2) > * {
    width: 100%;
}

// -----------------------------------------------------------------------------------------------

#gameData {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1a1a1a;
}

#gameData > div:first-child {
    display: flex;
    width: 90%;
    justify-content: space-between;
}

#gameData > div:first-child > div:first-child {
    display: flex;
    flex-direction: column;
}

#gameData > div:first-child  > div:first-child {
    margin: 15px 0px;
}

#gameData > div:first-child  > div:first-child > div:first-child {
    display: flex;
    width: 100%;
    height: 405px;
    justify-content: space-between;
}


#gameData > div:first-child  > div:first-child > div:first-child > div:first-child {
    width: 650px;
}

#gameData > div:first-child  > div:first-child > div:first-child > div:first-child > div:first-child {
    height: 320px;
}

#gameData > div:first-child  > div:first-child > div:first-child > div:first-child > div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
}

#gameData > div:first-child  > div:first-child > div:first-child > div:first-child > div:nth-child(2) > div {
    width: 19.5%;
    height: 100%;
    box-sizing: border-box; 
    border: 3px solid rgba(84, 79, 90, 0.5);
}

#gameData > div:first-child  > div:first-child > div:first-child > div:nth-child(2) {
    width: 340px;
    height: 100%;
    padding: 0px 20px;
}

#description {
    max-height: 479px;
}

#gameData > div:first-child  > div:first-child > div:first-child > div:nth-child(2) > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 15px;
}

#gameData > div:first-child  > div:first-child > div:first-child > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > * {
    padding: 5px;
    cursor: pointer;
}

// ----------------------

#gameData > div:first-child > div:first-child > div:nth-child(2) {    
    margin-top: 20px;
}

#gameData > div:first-child  > div:first-child > div:nth-child(2) > div {
    display: flex;
    min-height: 30px;
    margin-top: 10px;
}

#gameData > div:first-child  > div:first-child > div:nth-child(2) > div > div {
    color: black;
    line-height: 30px;
    background-color: white;
    padding-left: 10px;
}

#gameData > div:first-child  > div:first-child > div:nth-child(2) > div > div:first-child > * { 
    cursor: pointer;
}

#gameData > div:first-child  > div:first-child > div:nth-child(2) > div > div:nth-child(2) > div:first-child {
    cursor: default;
}

#gameData > div:first-child  > div:first-child > div:nth-child(2) > div > div:nth-child(2) > div:first-child::selection {
    background-color: unset;
}

#gameData > div:first-child  > div:first-child > div:nth-child(2) > div > div:first-child {
    border-radius: 5px;
    border-top-right-radius: 0px;
    font-size: 12px;
    border-bottom-right-radius: 0px;
}

#gameData > div:first-child  > div:first-child > div:nth-child(2) > div > div:nth-child(2) {
    text-align: start;
    width: 625px;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

#gameData > div:first-child  > div:first-child > div:nth-child(2) > div > div:nth-child(2) > div:nth-child(2) {
    color:rgb(10, 63, 209);
    font-weight: 600;
}

#gameData > div:first-child  > div:first-child > div:nth-child(2) > div > div:nth-child(2) > div:nth-child(2) > div {
    cursor: default;
}

// ----------------------

#gameData > div:first-child > div:nth-child(2){
    display: flex;
    justify-content: center;
    max-height: 550px;
    width: 400px;
    padding: 10px 0px 10px 0px;
    background-color: rgb(85, 85, 99);
}

#gameData > div:first-child > div:nth-child(2) > div > div {
    width: 100%;
    text-align: start;
    margin-bottom: 10px;
}

#gameData > div:first-child > div:nth-child(2) > div > div > div:first-child {
    border-bottom: 3px solid white;
    margin-bottom: 5px;
} 

#gameData > div:first-child > div:nth-child(2) > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    height: 97%;
}

#classification{
    display: flex;
    align-items: center;
    background: #1a1a1a;
    height: 45px;
}

#classification > div:first-child {
    text-align: center;
    background-color: yellow;
    color: black;
    height: 30px;
    line-height: 30px;
    width: 30px;
    margin: 0px 10px 0px 10px !important;
    border-bottom: 0px !important;
} 

#plataforms {
    margin-top: 5px;
}

// ------------------------------------------------------------------------

#gameRecomendation {
    display: flex;
    width: 90%;
}

#gameRecomendation > div:first-child {
    width: 1000px;
}

#gameRecomendation > div:first-child > div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    margin-top: 10px;
}

#gameRecomendation > div:first-child > div:nth-child(2) > * {
    width: 19%;
    height: 100%;
    border-radius: 10px;
}

// ------------------------------------------------------------------------

$buttonWidth: 60px;

#gameComments {
    display: flex;
    width: 90%;
    justify-content: flex-start;
    margin-top: 20px;
}

#gameComments > div:first-child {
    width: 1000px;
}

#gameComments > div:first-child > div:first-child {
    height: 30px;
    padding: 10px 0px 10px 0px;
}

#gameComments > div:first-child > div:first-child > input{
    height: 100%;
    width: calc(100% - $buttonWidth - 12px);
    border: unset;
    padding-left: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#gameComments > div:first-child > div:first-child > button{
    height: calc(100% + 2px);
    width: $buttonWidth;
    font-weight: 600;
    border: unset;
    color: white;
    background-color: #3c3c44;
    transform: scaleY(-1);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#gameComments > div:first-child > div:nth-child(2) {
    display: flex;
    flex-direction: column;
}

#gameComments > div:first-child > div:nth-child(2) > div:first-child {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
    background-color: #3c3c44;
}

#gameComments > div:first-child > div:nth-child(2) > div:first-child > div:nth-child(2) {
    display: flex;
    min-width: 340px;
    justify-content: space-between;
}
// -----------

.userComment {
    display: flex;
    background-color:#555563be;
    margin-bottom: 10px;
}

.userComment > div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
    min-width: 70px;
}

.userCommentIMG {
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: white;
}

.userComment > div:first-child > div{
    width: 100%;
}

.userComment > div:nth-child(2) {
    border-left: 2px solid #3c3c44;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 10px 0px 10px;
    margin: 10px 0px;
}
// -----------
.userComment > div:nth-child(2) > div:first-child {
    height: 90%;
}

.userComment > div:nth-child(2) > div:nth-child(2) {
    display: flex;    
    justify-content: space-between;
    margin-bottom: 3px;
}

.userComment > div:nth-child(2) > div:nth-child(2) > div:nth-child(2){
    display: flex;
    width: 200px;
    justify-content: space-between;
    margin-right: 10px;
}

.userComment > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div {
    cursor: pointer;
}

.userComment > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div:last-child{
    color: #dfd219;
}

// ------------------------------------------------------------------

@media screen and (max-width: 1345px) {
    #gameData > div:first-child {
        flex-direction: column;
    }

    #gameData {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #gameData > div:first-child > div:nth-child(2) {
        margin-bottom: 15px;
    }

    #gameData > div:first-child > div:nth-child(2){
        width: 100%;
    }

    #gameData > div:first-child > div:first-child > div:first-child > div:nth-child(2) {
        width: calc(100% - 700px);
    }  
    
    #gameRecomendation > div:first-child, #gameComments > div:first-child {
        width: 100%;
    }
}

@media screen and (max-width: 1185px) {
    $backImageHeight: 860px;

    #profile > div:first-child > div:nth-child(2) > div[data-v-3d8b3ee2]:first-child {
        height: $backImageHeight;
        background-position: center;
    }

    #profile > div:first-child > div:nth-child(2) > div[data-v-3d8b3ee2]:nth-child(2) {
        height: calc($backImageHeight - 282px);
    }

    #userProfile > div:first-child{
        flex-direction: column;
        align-items: center;
    }

    #statistics {
        width: auto;
        margin-top: 30px;
        padding-bottom: 0px;
    }
}

@media screen and (max-width: 1150px) {

    #gameData > div:first-child > div:first-child > div:first-child > div:nth-child(2) {
        width: 340px;
    }  

    #gameData > div:first-child > div:first-child > div:nth-child(2) > div > div:nth-child(2){
        width: 60%;
    }
}

@media screen and (max-width: 900px) {
    #userProfile {
        margin-top: 110px;
    }

    #searchProfile {
        margin-top: 70px;
    }

    #gameData > div:first-child > div:first-child > div:first-child {
        height: auto;
        flex-direction: column;
    }

    #gameData > div:first-child > div:first-child > div:first-child > div:first-child {
        width: 100%;
    }

    #gameData > div:first-child > div:first-child > div:first-child > div:nth-child(2) {
        width: 100%;
        padding: 15px 0px 0px 0px;
    }

    #gameData > div:first-child > div:first-child > div:first-child > div:nth-child(2) > div:first-child {
        overflow-y: unset;
        width: 100%;
    }

    #gameData > div:first-child  > div:first-child > div:nth-child(2) > div > div:nth-child(2) {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    #userProfile > div:first-child > div:first-child > div:nth-child(2){
        display: flex;
    }

    #network > span {
        width: 100%;
    }

    #network > span > div {
        width: 100%;
    }

    #network > div > div {
        display: flex;
        justify-content: space-between;
    }

    #network > div > button {
        width: 100%;
    }

    #network > div > div > select {
        width: 49%;
    }

    #network > div > div > * {
        margin-right: 0px;
    }

    #userInfo {
        margin-top: 35px;
    }

    #userInfo > div:nth-child(2) > div:nth-child(3) {
        display: none;
    }

    #userInfo > div:nth-child(2) {
        padding: 45px 0px 0px 10px;
    }
    
    #userInfo > div:first-child {
        height: 200px;
    }

    #statistics {
        padding-bottom: 0px;
        align-items: center;
    }

    #statistics > div:nth-child(2) img {
        width: 150px;
        height: 150px;
    }

    #userInfo >  div:first-child {
        height: 175px;
        width: 150px;
    }
}