<div id="filter">
    <div>
        <div>
            <font-awesome-icon @click="show()" :icon="['fas', 'xmark']" />
        </div>
        <div>
            <div>
                
                <fieldset>
                    <legend>Type of Game: <font-awesome-icon :icon="['fas', 'broom']" @click="clearIt(choose.type)"/></legend>

                    <div v-for="item in typeOfGames">
                        <input type="checkbox" :value="item" :name="item" v-model="choose.type"/>
                        <label :for="item">{{item}}</label>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Type of Plataform: <font-awesome-icon :icon="['fas', 'broom']" @click="clearIt(choose.plataforms)"/></legend>

                    <div>
                        <div v-for="item in plataforms">
                            <input type="checkbox" :value="item" :name="item" v-model="choose.plataforms"/>
                            <label :for="item">{{item.toLowerCase()}}</label>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Status of Game: <font-awesome-icon :icon="['fas', 'broom']" @click="clearIt(choose.status)"/></legend>

                    <div>
                        <input type="checkbox" value="Offline" name="Offline" v-model="choose.status"/>
                        <label for="Offline">Offline</label>
                        <input style="margin-left: 15px;" type="checkbox" value="Online" name="Online" v-model="choose.status"/>
                        <label for="Online">Online</label>
                    </div>
                </fieldset>
                <!-- <fieldset>
                    <legend>Perspective: <font-awesome-icon :icon="['fas', 'broom']" @click="clearIt(choose.perspective)"/></legend>
                    <div>
                        <div>
                            <input type="checkbox" value="First Person" name="First Person" v-model="choose.perspective"/>
                            <label for="First Person">First Person</label>
                        </div>
                        <div>
                            <input type="checkbox" value="Third Person" name="Third Person" v-model="choose.perspective"/>
                            <label for="Third Person">Third Person</label>
                        </div>
                        <div>
                            <input type="checkbox" value="Top-down" name="Top-down" v-model="choose.perspective"/>
                            <label for="Top-down">Top-down</label>
                        </div>
                        <div>
                            <input type="checkbox" value="Isometric" name="Isometric" v-model="choose.perspective"/>
                            <label for="Isometric">Isometric</label>
                        </div>
                        <div>
                            <input type="checkbox" value="Other" name="Other" v-model="choose.perspective"/>
                            <label for="Other">Other</label>
                        </div>
                    </div>
                </fieldset> -->
                <fieldset>
                    <legend>Release date: 
                        <input style="width: 38px; text-align: center;" maxlength="2" placeholder="day" v-model="choose.dateObj.day"/>/
                        <input style="width: 38px;" maxlength="2" placeholder="month" v-model="choose.dateObj.month"/>/
                        <input style="width: 38px; text-align: center;" maxlength="4" placeholder="year" v-model="choose.dateObj.year"/>
                        <font-awesome-icon style="margin-left: 5px;" :icon="['fas', 'broom']" @click="clearIt(choose.release)"/>
                    </legend>
                    <div>
                        <div>
                            <input type="checkbox" value="Other" name="Other" v-model="choose.release"/>
                            <label for="Other">Other</label>
                        </div>
                        <div>
                            <input type="checkbox" value="Finished" name="Finished" checked v-model="choose.release"/>
                            <label for="Finished">Finished</label>
                        </div>
                        <div>
                            <input type="checkbox" value="Didn't Release Yet" name="Didn't Release Yet" v-model="choose.release"/>
                            <label for="Didn't Release Yet">Didn't Release Yet</label>
                        </div>
                        <div>
                            <input type="checkbox" value="Currently Releasing" name="Currently Releasing" v-model="choose.release"/>
                            <label for="Currently Releasing">Currently Releasing</label>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Studio: <font-awesome-icon :icon="['fas', 'broom']" @click="clearIt(choose.studios)"/></legend>

                    <div v-for="item in studios">
                        <input type="checkbox" :value="item" :name="item" v-model="choose.studios"/>
                        <label :for="item">{{item}}</label>
                    </div>
                </fieldset>
            </div>
        </div>
        <div id="filterButton">
            <button @click="clear()">Clear</button>
            <button @click="apply()">Apply</button>
        </div>
    </div>
</div>