
#goBack {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 17px;
    height: 34px;
    width: 70px;
}

#goBack > div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 27px;
    height: 27px;
    font-size: 16px;
    transform: rotate(90deg);
    background-color: rgb(40, 40, 43);
    border-radius: 100%;
    margin-left: 4px;
}

#goBack > div:first-child > * {
    margin-left: 1px;
}

#goBack > div:nth-child(2) {
    margin-right: 11px;
    font-size: 17px;
    color: rgb(40, 40, 43); 
}