
#about {
    display: flex;
    height: 100%;
    min-height: 100vh;
    background: linear-gradient(to left top, rgb(0, 0, 0) 5%, rgba(255, 255, 255, 0));
    position: relative; 
}

#about > div {
    display: flex;
    width: 100%;
    padding: 10vh 0;
    justify-content: center;
}

#portifolio {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 27.37vw;
}

$paddingPort: 2vw;

#portifolio > div {
    display: flex;
    align-items: flex-end;
    width: 26.32vw - $paddingPort;
    height: 28.53vw - $paddingPort;
    padding: $paddingPort;
    margin-bottom: 1vw;
}

#portifolio a {
    text-align: center;
    line-height: 2.63vw;
    height: 2.63vw;
    background-color: white;
    width: 7.89vw;
    color: black;
    font-size: 0.89vw;
    font-weight: 600;
    border: unset;
    cursor: pointer;
}

#portifolio a:hover {
    color: white;
    background-color: rgb(145, 8, 115);
}

$widthOfAll: 31.58vw;

#aboutProject{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: $widthOfAll;
    margin-right: 2.63vw;
}

#aboutProject > div:first-child {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    color: white;
}

#aboutProject > div:first-child > div {
    display: flex;
    height: auto;
    justify-content: center;
    border-radius: 0.53vw;
    background-color: rgba(0, 0, 0, 0.7);
    flex-direction: column;
    width: 28.95vw;
    padding: 1vw 2vw 1vw 2vw;
}

#aboutProject h1 {
    font-size: 3.16vw;
    width: 27.11vw;
    margin: 1vw 0px 1.5vw 0px;
}

#aboutProject h2 {
    font-size: 1.32vw;
}

#aboutProjectDescription{
    width: 90%;
    font-weight: 400;
}

#aboutProject > div:nth-child(2){
    display: flex;
    width: 100%;
    height: 14.5vw;
    align-items: flex-end;
}


// ---------------------------------------------------------------------------------------------------

#staffCard{
    width: $widthOfAll;
    border-radius: 0.53vw;
    height: 12.11vw;
    position: relative;
}

#staffCard > div {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
}

$userImgWidth: 39%;

#staffCard span {
    left: 0px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 100%;
    border-bottom-right-radius: 0px;
    width: $userImgWidth;
    margin-left: 3%;
    height: 100%;
}

#staffCard span img {
    border-radius: 100%;
    width: 94%;
    height: 94%;
    object-fit: cover;
    text-align: center;
}

#staffCard > div > div {
    width: 100% - $userImgWidth;
    height: 100%;
}

// -----------------------------

$staffCardProfileHeight: 25%;

#staffCard > div > div > div:first-child {
    display: flex;
    align-items: flex-end;
    padding-left: 5%;
    height: $staffCardProfileHeight;
}

#staffCard > div > div > div:first-child > div {
    display: flex;
    width: 11.7%;
    height: 70%;
    margin-right: 5%;
    margin-bottom: 4%;
}

#staffCard > div > div img {
    border-radius: 100%;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: 0.25vw solid white;
    object-fit: cover;
}

#staffCard > div > div > div:nth-child(2) {
    padding-left: 6%;
    border-top-right-radius: 0.53vw;
    border-bottom-right-radius: 0.53vw;
    background-color: rgb(255, 255, 255);
    height: calc(100% - $staffCardProfileHeight);
}

#staffCard > div > div > div:nth-child(2) > div{
    display: flex;
    height: 100%;
    flex-direction: column;
}

$h4-height: 16%;

#staffCard > div > div > div:nth-child(2) > div h4{
    display: flex;
    align-items: flex-end;
    font-size: 1vw;
    margin: 0;
    height: $h4-height;
}

$email-height: 12%;

#staffCard > div > div > div:nth-child(2) > div > div:nth-child(2) {
    display: flex;
    align-items: flex-end;
    color: rgb(99, 99, 99);
    font-size: 0.8vw;
    height: $email-height;
}

$fullHeightUserData: $h4-height + $email-height;

#staffCard > div > div > div:nth-child(2) > div > div:nth-child(3) {
    height: calc(100% - $fullHeightUserData - 10%);
    margin-top: 2%;
    margin-right: 1%;
    padding-right: 1%;
    overflow-y: scroll;
    font-size: 0.8vw;
}

// ---------------------------------------------------------------

@media screen and (max-width: 800px){

    #about > div {
        align-items: center;
        flex-direction: column;
    }

    $widthOfAll: 90vw;

    #aboutProject{
        margin: 0;
        width: $widthOfAll;
    }

    #aboutProject > div:first-child > div {
        height: auto;
        width: 100%;
        border-radius: 3vw;
        padding: 5vw;
        padding-bottom: 1vw;
    }

    #aboutProject h1 {
        font-size: 9vw;
        width: auto;
        margin: 1vw 0px 1.5vw 0px;
    }

    #aboutProject h2 {
        font-size: 5.5vw;
    }

    #aboutProject > div:nth-child(2){
        align-items: center;
        justify-content: center;
        height: auto;
        margin: 15vw 0 7vw 0;
    }

    #staffCard{
        width: $widthOfAll;
        border-radius: 0.53vw;
        height: 34vw;
        position: relative;
    }    

    #staffCard > div > div img {
        border: 0.5vw solid white;
    }

    #staffCard > div > div > div:nth-child(2) {
        border-top-right-radius: 1vw;
        border-bottom-right-radius: 1vw;
    }

    #staffCard > div > div > div:nth-child(2) > div h4{
        font-size: 3.5vw;
    }

    #staffCard > div > div > div:nth-child(2) > div > div:nth-child(2) {
        font-size: 2.5vw;
    }

    #staffCard > div > div > div:nth-child(2) > div > div:nth-child(3) {
        font-size: 2vw;
    }
    
    #portifolio {
        width: $widthOfAll;
    }

    #portifolio > div {
        justify-content: center;
        height: auto;
        padding: 0px;
        width: 100%;
        margin: 0;
        background-image: unset;
    }

    $portFolioButton: 15vw;

    #portifolio > div a {
        border-radius: 3vw;
        width: 100%;
        font-size: 5vw;
        height: $portFolioButton;
        line-height: $portFolioButton;
        text-align: center;
        color: white;
        background-color: rgb(117, 10, 90);
    }
}