<div id="about" class="backImageConfig">
    <span class="backPage">
        <GoBackComponent />
    </span>
    <div>
        <div id="aboutProject">
            <div>
                <div>
                    <h1>ABOUT WEB SITE</h1>
                    <h2 id="aboutDescription">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos reprehenderit, cum dolor a tempore quasi laborum
                    cupiditate. Asperiores eius nisi atque fuga ut natus odio expedita. Voluptates iusto quae libero.</h2>
                </div>
            </div>
            <div>
                <div id="staffCard">
                    <div>
                        <span>
                            <img v-if="user.length != 0" :src="
                            (user.userImage == null) ? ((user.sexuality === 'M') ? imgType.male : imgType.female) : user.userImage
                            " alt="profile_Photo" />
                        </span>
                        <div>
                            <div>
                                <div v-for="(item, index) in users.slice(0,5)" @click="() => {chooseUser(index)}">
                                    <img :src="
                                    (item.userImage == null) ? ((item.sexuality === 'M') ? imgType.male : imgType.female) : item.userImage
                                    " alt="profile_Photo" />
                                </div>
                            </div>
                            <div>
                                <div>
                                    <h4>{{user.nickname}}</h4>
                                    <div>{{user.email}}</div>
                                    <div>{{user.note}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="portifolio">
            <div class="backImageConfig">
                <a href="https://super-protofolio.netlify.app/" target="_blank">Portifolio</a>
            </div>
        </div>
    </div>
</div>
