<div id="about" class="aboutImage">
    <span>
        <router-link to="/">Back</router-link>
    </span>
    <div id="aboutProject">
        <div>
            <div>
                <h1>ABOUT WEB SITE</h1>
                <h2 id="aboutDescription">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos reprehenderit, cum dolor a tempore quasi laborum
                cupiditate. Asperiores eius nisi atque fuga ut natus odio expedita. Voluptates iusto quae libero.</h2>
            </div>
        </div>
        <div>
            <div id="staffCard">
                <div>
                    <span>
                        <img src="https://cdn-icons-png.flaticon.com/512/21/21104.png" alt="profile_Photo" />
                    </span>                
                    <div>
                        <div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <div>
                            <div>
                                <h4>Complete Name</h4>
                                <div>Email@email.com</div>
                                <div>Description</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="portifolio">
        <div class="aboutImage">
            <button>portifolio</button>
        </div>
    </div>
</div>
