
#about {
    display: flex;
    height: 100vh;
    background-image:
    linear-gradient(to left top, rgb(0, 0, 0) 5%, rgba(255, 255, 255, 0)),
    url("https://images8.alphacoders.com/131/1311910.jpg"); 
    position: relative; 
}

#about > div {
    display: flex;
    width: 100%;
    justify-content: center;
}

#portifolio {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    width: 520px;
}

#portifolio > div {
    display: flex;
    align-items: flex-end;
    width: 500px;
    height: 580px;
    margin-top: 95px;
    background-image: url("https://wallpapersmug.com/download/1920x1080/da7528/hyper-light-drifter-minimal-game.jpg");
}

#portifolio a {
    text-align: center;
    line-height: 50px;
    height: 50px;
    background-color: white;
    width: 150px;
    color: black;
    font-size: 17px;
    font-weight: 600;
    border: unset;
    cursor: pointer;
    margin: 0px 0px 30px 30px;
}

#portifolio a:hover {
    color: white;
    background-color: rgb(145, 8, 115);
}

#aboutProject{
    height: 100%;
    width: 600px;
}

#aboutProject > div:first-child {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 50%;
    width: 100%;
    color: white;
}

#aboutProject > div:first-child > div {
    padding: 0px 10px 15px 25px;
    display: flex;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    flex-direction: column;
    width: 550px;
    margin-right: 50px;
}

#aboutProject h1 {
    font-size: 60px;
    width: 515px;
}

#aboutProject h2 {
    font-size: 25px;
}

#aboutProjectDescription{
    width: 90%;
    font-weight: 400;
}

#aboutProject > div:nth-child(2){
    display: flex;
    height: 50%;
    width: 100%;
}

#aboutProject > div:nth-child(2) > a{
    display: none;
}

// ---------------------------------------------------------------------------------------------------
$imgsize: 150px;
$heightBord: 15px;
$staffCardProfileHeight: 60px;

#staffCard{
    width: 500px;
    border-radius: 10px;
    height: 230px;
    margin-top: 50px;
    position: relative;
}

#staffCard > div {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
}

#staffCard span {
    left: 0px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    background-color: white;
    border-radius: 100%;
    border-bottom-right-radius: 0px;
    width: calc($imgsize + $heightBord);
    height: calc($imgsize + $heightBord);
}

#staffCard span img {
    background-color: white;
    border-radius: 100%;
    width: $imgsize;
    height: $imgsize;
    line-height: $imgsize;
    text-align: center;
}

#staffCard > div > div {
    width: 67%;
    height: calc($imgsize + $heightBord) ;
}

#staffCard > div > div > div:first-child {
    display: flex;
    align-items: flex-end;
    margin-left: 10px;
    height: $staffCardProfileHeight;
}
#staffCard > div > div img {
    border-radius: 100%;
    width: 30px;
    cursor: pointer;
    border-radius: 100%;
    border: 3px solid white;
    margin: 0px 7px 5px 7px;
    height: 30px;
    line-height: 30px;
}

#staffCard > div > div > div:nth-child(2) {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(255, 255, 255);
    height: calc(100% - $staffCardProfileHeight);
}

#staffCard > div > div > div:nth-child(2) > div{
    display: flex;
    flex-direction: column;
    padding: 10px 0px 0px 14px;
}

#staffCard > div > div > div:nth-child(2) > div > div:nth-child(2) {
    color: rgb(99, 99, 99);
}


#staffCard > div > div > div:nth-child(2) > div > div:nth-child(3) {
    height: 48px;
    margin-right: 5px;
    padding-right: 5px;
    overflow-y: scroll;
    margin-top: 5px;
}

#staffCard > div > div > div:nth-child(2) > div h4 {
    margin: 0px 0px 5px 0px;
}

// ---------------------------------------------------------------

@media screen and (max-width: 1200px){
    #aboutProject > div:first-child > div {
        width: 350px;
    }

    #aboutProject h1 {
        font-size: 40px;
        width: 345px;
    }

    #aboutProject > div:first-child {
        height: 425px;
    }

    #about > div > div:first-child {
        width: 450px;
    }

    #about > div > div:nth-child(2) {
        width: 400px;
    }

    #portifolio > div {
        width: 355px;
        height: 355px;
    }

    #staffCard {
        margin-top: 25px;
        width: 400px;
    }

    #staffCard > div img {
        width: 120px;
        height: 120px;
    }

    #staffCard > div > div {
        width: 67%;
    }

    #staffCard span {
        width: 130px;
        height: 130px;
    }

    #staffCard > div > div > div:nth-child(2){
        height: calc(100% - 78px);
    }

    #staffCard > div > div > div:nth-child(2) > div > div:nth-child(3) {
        height: 31px;
        margin-top: 5px;
    }
}

@media screen and (max-width: 830px){

    #aboutProject {
        width: 100%;
    }

    #aboutProject > div:first-child > div {
        margin: 0px;
    }

    #aboutProject > div:nth-child(2){
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    #aboutProject > div:nth-child(2) > a{
        display: block;
        color: white;
        background-color: rgb(131, 5, 87);
        border: unset;
        padding: 20px 30%;
        font-size: 20px;
        font-weight: 600;
        border-radius: 10px;
    }

    #aboutProject > div:nth-child(2) > a:hover{
        color: black;
        background-color: white;
    }

    #staffCard {
        width: 350px;
    }

    #staffCard > div > div {
        width: 63%;
    }

    #aboutProject > div:first-child {
        justify-content: center !important;
    }

    #portifolio {
        display: none;
    }
}