
#about {
    display: flex;
    height: 100vh;
    background-image:
    linear-gradient(to left top, rgb(0, 0, 0) 5%, rgba(255, 255, 255, 0)),
    url("https://images8.alphacoders.com/131/1311910.jpg"); 
    position: relative; 
}

#about > span {
    position: absolute;
    font-size: 20px;
    cursor: pointer;
    margin: 30px 0px 0px 30px;
}

#about > span > :first-child {
    text-decoration: unset;
    color: white;
}

.aboutImage {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#portifolio {
    display: flex;
    align-items: center;
    height: 100%;
    width: 50%;
}

#portifolio > div {
    display: flex;
    align-items: flex-end;
    margin: 0px 0px 50px 80px;
    width: 500px;
    height: 600px;
    background-image: url("https://wallpapersmug.com/download/1920x1080/da7528/hyper-light-drifter-minimal-game.jpg");
}

#portifolio button {
    height: 50px;
    width: 150px;
    font-size: 17px;
    font-weight: 600;
    border: unset;
    cursor: pointer;
    margin: 0px 0px 30px 30px;
}

#aboutProject{
    height: 100%;
    width: 50%;
}

// https://wallpapersmug.com/download/1920x1080/da7528/hyper-light-drifter-minimal-game.jpg

#aboutProject > div:first-child {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 50%;
    width: 100%;
    color: white;
}

#aboutProject > div:first-child > div {
    padding-left: 35px;
    padding-bottom: 15px;
    display: flex;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    flex-direction: column;
    width: 550px;
    height: 300px;
}

#aboutProject h1 {
    font-size: 60px;
}

#aboutProject h2 {
    font-size: 25px;
}

#aboutProjectDescription{
    width: 90%;
    font-weight: 400;
}

#aboutProject > div:nth-child(2){
    display: flex;
    justify-content: flex-end;
    height: 50%;
    width: 100%;
}
// ---------------------------------------------------------------------------------------------------
$imgsize: 150px;
$heightBord: 30px;
$profileSize: 35px;
$staffCardProfileHeight: 80px;

#staffCard{
    width: 585px;
    border-radius: 10px;
    height: 230px;
    margin-top: 50px;
}

#staffCard > div {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
}

#staffCard span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    background-color: white;
    border-radius: 100%;
    border-bottom-right-radius: 0px;
    width: calc($imgsize + $heightBord);
    height: calc($imgsize + $heightBord);
}

#staffCard > div img {
    background-color: white;
    border: 5px solid black;
    border-radius: 100%;
    width: $imgsize;
    height: $imgsize;
    line-height: $imgsize;
    text-align: center;
}

#staffCard > div > div {
    position: relative;
    height: calc($imgsize + $heightBord) ;
}

#staffCard > div > div > div:first-child {
    display: flex;
    width: 300px;
    align-items: flex-end;
    height: $staffCardProfileHeight;
}

#staffCard > div > div > div:first-child div{
    border-radius: 100%;
    height: $profileSize;
    width: $profileSize;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: white;
}

#staffCard > div > div > div:nth-child(2) {
    position: absolute;
    left: -1px;
    width: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(255, 255, 255);
    height: calc(100% - $staffCardProfileHeight);
}

#staffCard > div > div > div:nth-child(2) > div{
    display: flex;
    flex-direction: column;
    padding: 10px 0px 0px 10px;
}

#staffCard > div > div > div:nth-child(2) > div h4 {
    margin: 0px 0px 5px 0px;
}