
$footerHeight: 150px;

footer {
    width: 100%;
    height: $footerHeight;
    background-color: rgb(17, 17, 17);
    font-family: Arial, sans-serif;
}

main {
    font-family: Arial, sans-serif;
}
