
<header>
    <div id="auth">
        <div :style="{justifyContent: `${(userLogin.id == 0) ? '': 'center'}`}">
            <!-- --------------------------------------------------------------- -->
            <router-link v-if="userLogin.id == 0" to="/signIn">SIGN IN</router-link>
            <div v-else id="signOut">
                <font-awesome-icon @click="signOut()" :icon="['fas', 'power-off']" />
            </div>
            <!-- --------------------------------------------------------------- -->
            <div v-if="userLogin.id == 0">
                <router-link to="/access" style="color: white;">
                    <font-awesome-icon :icon="['fas', 'users']" />
                </router-link>
            </div>
            <router-link v-else id="userLogin" to="/profile">{{userLogin.nickname}}</router-link>
            <!-- --------------------------------------------------------------- -->
            <router-link v-if="userLogin.id == 0" :to="`${(limit)? '/limit': '/signUp'}`">SIGN UP</router-link>
            <div v-else to="/" id="notification">
                <font-awesome-icon :icon="['far', 'bell']" />
            </div>

        </div>
    </div>
</header>