<div id="profilePage">
    <span class="backPage">
        <router-link to="/users">Back</router-link>
    </span>
    <div id="profile">
        <div>
            <div>
                <div id="searchProfile">
                    <input placeholder="search user profile"/>
                    <div>search</div>
                </div>
            </div>
            <div>
                <div class="backImageConfig"></div>
                <div></div>
            </div>
            <div>
                <div>
                    <div id="userProfile">
                        <div class="backImageConfig"></div>
                        <div>
                            <div>
                                <div>Status: Offline</div>
                                <div>
                                    <div>Joined:</div>
                                    <div>29/03/1999</div>
                                </div>
                                <div>
                                    <div>
                                        <font-awesome-icon :icon="['fas', 'paper-plane']" />
                                    </div>
                                    <div>
                                        <font-awesome-icon :icon="['fas', 'gift']" />
                                    </div>
                                    <div>
                                        <font-awesome-icon :icon="['fas', 'user-slash']" />
                                    </div>
                                    <div>
                                        <font-awesome-icon :icon="['fas', 'user-plus']" />
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div>Location: Brazil</div>
                                <div>
                                    <h3>PROFILE NAME</h3>
                                    <div>
                                        <div>Also Available at</div>
                                        <div><font-awesome-icon :icon="['fas', 'link']" /> http://localhost:5173/profile</div>
                                        <div><font-awesome-icon :icon="['fas', 'link']" /> http://localhost:5173/profile</div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div>Sex: Masculine</div>
                                <div>
                                    <div>Birthday:</div>
                                    <div>29/03/1999</div>
                                </div>
                                <div id="network">
                                    <font-awesome-icon :icon="['fab', 'twitter']" />
                                    <font-awesome-icon :icon="['fab', 'square-facebook']" />
                                    <font-awesome-icon :icon="['fab', 'instagram']" />
                                    <font-awesome-icon :icon="['fab', 'youtube']" />
                                    <font-awesome-icon :icon="['fab', 'twitch']" />  
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="statistics">
                        <div>
                            <div>
                                <div>
                                    <div style="background-color: green;"></div>
                                    <div>Played</div>
                                    <div>233</div>
                                </div>
                                <div>
                                    <div style="background-color: blue;"></div>
                                    <div>Complete</div>
                                    <div>233</div>
                                </div>
                                <div>
                                    <div style="background-color: yellow;"></div>
                                    <div>On-Hold</div>
                                    <div>233</div>
                                </div>
                                <div>
                                    <div style="background-color: red;"></div>
                                    <div>Dropped</div>
                                    <div>233</div>
                                </div>
                                <div>
                                    <div style="background-color: gray;"></div>
                                    <div>Plan to Play</div>
                                    <div>2221</div>
                                </div>
                                <div>
                                    <div style="background-color: rgb(7, 180, 180);"></div>
                                    <div>Replayed</div>
                                    <div>233</div>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <div>2233</div>
                                    <div>Total Entries</div>
                                </div>
                                <div>
                                    <div>2233</div>
                                    <div>Total Days</div>
                                </div>
                                <div>
                                    <div>2233</div>
                                    <div>Total Hours</div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <img src="https://cdn-icons-png.flaticon.com/512/64/64720.png" width="230px" height="230px" alt="imagem"/>
                        </div>
                    </div>
                </div>
            </div>
            <div id="profileData">
                <div>
                    <div>
                        <div>
                            <div>
                                <router-link to="/gameList" id="myGameList">
                                    My Game List
                                </router-link>
                                <div>
                                    <div>
                                        <div>Forum Posts</div>
                                        <div>0</div>
                                    </div>
                                    <div>
                                        <div>Reviews</div>
                                        <div>0</div>
                                    </div>
                                    <div>
                                        <div>Recomendations</div>
                                        <div>0</div>
                                    </div>
                                    <div>
                                        <div>Clubs</div>
                                        <div>0</div>
                                    </div>
                                </div>
                            </div>
                            <div id="profileNotes">
                                <div>Notes</div>
                                <input placeholder="Type anything here" />
                            </div>
                        </div>
                        <div id="historyList">
                            <div>Last Games Updates</div>
                            <div>
                                <router-link to="/singleGame" v-for="game in games">
                                    <div class="backImageConfig" :style="{backgroundImage: `url(${game.img})`}"></div>
                                </router-link>
                            </div>
                        </div>
                        <div>
                            <div>
                                <font-awesome-icon :icon="['fas', 'chevron-right']" />
                                <div>Favorite Staff</div>
                            </div>
                            <div>
                                <font-awesome-icon :icon="['fas', 'chevron-right']" />
                                <div>Favorite Cast</div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div>Friends</div>
                            <div id="friends">
                                <router-link to="/profile" v-for="user in users">
                                    <div id="friend" class="backImageConfig" :style="{backgroundImage: `url(${(user.sex === 'Male') ? imgType.male : imgType.female})`}"></div>
                                </router-link>
                            </div>
                        </div>
                        <div>
                            <div>Favorite Games</div>
                            <div id="favGame">
                                <router-link to="/singleGame" v-for="game in fav" class="backImageConfig" :style="{backgroundImage: `url(${game.img})`}"></router-link>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>