
#profilePage {
    min-height: 100vh;
    position: relative;
}

#profile > div:first-child {
    display: flex;
    position: relative;
    flex-direction: column;
    background-image: url("https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Rumble_0.jpg");
    color: white;
}

#profile > div:first-child > div:first-child {
    display: flex;
    justify-content: flex-end;
    width: 98%;
}

#searchProfile {
    display: flex;
    margin-top: 30px;
    width: 350px;
    text-align: center;
}

#searchProfile div {
    display: flex;
    align-items: center;
    padding: 0px 15px 0px 10px;
    background-color: rgba(197, 1, 1, 0.582);
    border-top-right-radius: 30px;
    cursor: pointer;
    border-bottom-right-radius: 30px;
}

#searchProfile input {
    border: unset;
    width: 250px;
    outline: unset;
    height: 30px;
    border-radius: 30px;
    padding-left: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#profile > div:first-child > div {
    z-index: 100;
}

#profile > div:first-child > div:nth-child(2) {
    width: 100%;
    height: 270px;
    position: absolute;
    top: 372px;
    z-index: 10;
    background-color: rgb(0, 0, 0, 0.7);
}

#userProfile {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 320px;
    margin-top: 260px;
}

#userProfile h2 {
    margin: 0px;
    font-weight: 100;
}

#userProfile > div:first-child {
    display: flex;
    width: 40%;
}

#network > div{
    display: flex;
    justify-content: space-around;
    width: 120px;
}

#userProfile > div:first-child >  div:first-child {
    border: 5px solid white;
    background-image: url("https://www.mobafire.com/images/champion/skins/portrait/rumble-badlands-baron.jpg");
    background-position: unset;
    height: 300px;
    width: 280px;
    position: relative;
}

#userProfile > div:first-child >  div:first-child > div{
    display: flex;
    bottom: 0px;
    position: absolute;
    width: 100%;
}

#userProfile > div:first-child >  div:first-child > div > div {
    color: black;
    width: 25%;
    height: 40px;
    line-height: 48px;
    text-align: center;
    background-color: white;
    cursor: pointer;
}

#userProfile > div:first-child > div:nth-child(2) {
    margin-left: 30px;
    margin-top: 80px;
}

#userProfile > div:first-child > div:nth-child(2) > div {
    margin-top: 10px;
}

// -----------------------------------------------------------------------------------------------
#statistics {
    display: flex;
    width: 700px;
    margin-top: 30px;
    width: 45%;
}

#statistics > div {
    width: 40%;
}

#statistics > div:nth-child(2) {
    padding: 20px 0px 0px 30px;
}

#statistics > div:nth-child(2) img{
    filter: invert(100%);
    margin-top: 25px;
    margin-left: 50px;
}

#statistics > div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 92px;
    margin-left: 30px;
}

#statistics > div:first-child  > div:first-child{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#statistics > div:first-child  > div:first-child > div{
    display: flex;
    width: 90%;
    text-align: center;
    justify-content: space-between;
}

#statistics > div:first-child  > div:first-child > div > div:first-child{
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

#statistics > div:first-child  > div:first-child > div > div:nth-child(2){
    text-align: start;
    width: 100px;
}

#statistics > div:first-child  > div:first-child > div > div:nth-child(3){
    width: 100px;
    text-align: end;
}

#statistics > div:first-child  > div:nth-child(2) {
    display: flex; 
    text-align: center;
    margin-top: 30px;
    justify-content: space-around;
    width: 90%;
}

// -----------------------------------------------------------------------------------------------

#profileData {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: #1a1a1a;
    height: 550px;
}

#profileData button {
    color: white;
    background-color: rgb(14, 14, 119);
    padding: 15px 105px;
    border: unset;
    border-radius: 3px;
}

#profileData > div {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 90%;
}

#profileData > div > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
    height: 100%;
} 

#profileData > div > div:first-child > div:first-child {
    display: flex;
    justify-content: space-between;
}

#profileData > div > div:first-child > div:first-child > div:first-child > div{ 
    margin-top: 10px;
    margin-bottom: 10px;
}

#profileNotes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
}

#profileNotes > input{
    display: flex;
    line-height: 10px;
    align-items: flex-start;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    width: 97%;
    padding-top: 5px;
    padding-bottom: 80px;
    border: unset;
}

#profileData > div > div:first-child > div:first-child > div:first-child > div > div {
    display: flex;
    justify-content: space-between;
}

#historyList {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    height: 180px;
}

#historyList > div:first-child {
    height: 20px;
    border-bottom: 3px solid white;
    margin-bottom: 10px;
}

#historyList > div:nth-child(2) {
    display: flex;
    width: 100%;
    height: 80%;
    justify-content: space-around;
}

#historyList > div:nth-child(2) > div {
    height: 100%;
    width: 24%;
}

#historyList > div:nth-child(2) > div > div {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

#profileData > div > div:first-child > div:nth-child(3){
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 120px;
    width: 100%;
}

#profileData > div > div:first-child > div:nth-child(3) > div{
    display: flex;
    align-items: center;
    color: black;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

#profileData > div > div:first-child > div:nth-child(3) > div > svg{
    transform: scale(0.7);
    margin-left: 10px;
    margin-right: 10px;
}

#profileData > div > div:first-child > div:nth-child(3) > div > div{
    margin-top: 3px;
}
// -----------------------------------------------------------------------
$partTwoHeight: 140px;
$friendSize: 80px;
$favSize: 120px;

#profileData > div > div:nth-child(2){
    margin-top: 10px;
}

#profileData > div > div:nth-child(2) > div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: $partTwoHeight;
}

#profileData > div > div:nth-child(2) > div:first-child > div:first-child {
    border-bottom: 3px solid white;
    height: 20px;
}

#profileData > div > div:nth-child(2) > div:nth-child(2) {
    height: calc(100% - $partTwoHeight - 20px);
}

#profileData > div > div:nth-child(2) > div:nth-child(2) > div:first-child {
    border-bottom: 3px solid white;
    height: 20px;
}

#friends {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

#friend {
    width: $friendSize;
    height: $friendSize;
    border-radius: 100%;
}

#favGame {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

#favGame > div {
    margin: 10px;
    width: $favSize + 15px;
    height: $favSize - 10px;
    border-radius: 10px;
}