<div id="profilePage">
    <span class="backPage">
        <router-link to="/">Back</router-link>
    </span>
    <div id="profile">
        <div class="backImageConfig">
            <div>
                <div id="searchProfile">
                    <input placeholder="search profile right here"/>
                    <div>search</div>
                </div>
            </div>
            <div>
                <div id="userProfile" >
                    <div class="backImageConfig"></div>
                    <div>
                        <h2>PROFILE NAME</h2>
                        <div id="userData">
                            <div>Last Online: Yesterday, 04:24 PM</div>
                            <div>Gender: Male</div>
                            <div>Birthday: Mar 29, 1999</div>
                            <div>Location: Brazil</div>
                            <div>Joined: Mar 29, 1999</div>
                        </div>
                        <div id="network">
                            <div>Twiiter | Facebook | TikTok | Instagram</div>
                        </div>
                        <div id="channels">
                            Channels: 
                            <div>http://localhost:5173/profile</div>
                            <div>http://localhost:5173/profile</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>