body {
  margin: 0px;
}

*::-webkit-scrollbar, .about::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-thumb, .about::-webkit-scrollbar-thumb {
background-color: #b8b8b8;
}

*::-webkit-scrollbar-track, .about::-webkit-scrollbar-track {
background-color: #f9f9f9;
}

button {
  cursor: pointer;
}

.centralize {
  display: flex;
  justify-content: center;
  align-items: center;
}

.backImageConfig {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.unselect > div::selection {
  background-color: transparent;
}

.backPage {
  position: absolute;
  font-size: 20px;
  cursor: pointer;
  z-index: 1000;
  margin: 30px 0px 0px 30px;
}

a {
  text-decoration: unset;
}