<div id="gameList">
    <div class="backImageConfig" id="gameListBanner">
        <div class="backPage">
            <GoBackComponent />
        </div>
        <div class="unselect">
            <div>
                <div>status</div>
                <div>filter</div>
                <div>search</div>
            </div>
        </div>
    </div>
    <div class="unselect">
        <div @click="filterBy('all')">All Games</div>
        <div @click="filterBy('Playing')" :style="`color: ${(filterChoice == 'Playing')? '#00b7e7': ''}`">Playing</div>
        <div @click="filterBy('Replaying')" :style="`color: ${(filterChoice == 'Replaying')? '#00b7e7': ''}`">Replaying</div>
        <div @click="filterBy('Plan to Play')" :style="`color: ${(filterChoice == 'Plan to Play')? '#00b7e7': ''}`">Plan to play</div>
        <div @click="filterBy('On-Hold')" :style="`color: ${(filterChoice == 'On-Hold')? '#00b7e7': ''}`">On-Hold</div>
        <div @click="filterBy('Dropped')" :style="`color: ${(filterChoice == 'Dropped')? '#00b7e7': ''}`">Dropped</div>
        <div @click="filterBy('Completed')" :style="`color: ${(filterChoice == 'Completed')? '#00b7e7': ''}`">Completed</div>
    </div>
    <div>
        <div>
            <select name="status" v-model="progressReponsive">
                <option value="all">All Games</option>
                <option value="Playing">Playing</option>
                <option value="Replaying">Replaying</option>
                <option value="Plan to Play">Plan to play</option>
                <option value="On Hold">On-Hold</option>
                <option value="Dropped">Dropped</option>
                <option value="Completed">Completed</option>
            </select>
        </div> 
    </div>
    <div v-if="((data != undefined)? (data.length != 0): false) && registry != undefined">
        <div id="gameCardList" v-for="item, index in ((registry.length != 0)? registry : data)">
            <div>
                <router-link class="backImageConfig" id="cardImage" 
                :style="{backgroundImage: `url(${item.game.gameImage})`}" :to="`/singleGame/${item.game.id}`">
                    <div>
                        {{ item.game.name.slice(0, 40) }}
                        <span v-if="item.game.name.length > 40">. . .</span>
                    </div>
                </router-link>
                <span @click="deleteRegistry(item.id, index)">
                    <font-awesome-icon :icon="['fas', 'xmark']" />
                </span>
            </div>
            <div>
                <div>{{hoursMinutes(item.game.playtime)[0]}} hours</div>
                <div>{{hoursMinutes(item.game.playtime)[1]}} {{(hoursMinutes(item.game.playtime)[1] == 1) ? 'minute' : 'minutes'}}</div>
                <div>
                    <div style="z-index: 10000;">
                        <div :style="{width: `${progress}%`, backgroundColor: `${colorChoice(item.progress)}`}"></div>
                    </div>
                </div>
            </div>
            
            <div>
                <div>
                    <div>
                        <select v-if="auth.id != 0 && $route.params.id == auth.id" name="status" v-model="item.progress" style="font-weight: 600; color: rgb(104, 21, 107);" 
                        :class="`${(cssEffect.type == 'progress' && cssEffect.obj == item)? 'cssEffect':''}`">
                            <option value="Completed">Completed</option>
                            <option value="Playing">Playing</option>
                            <option value="Plan to Play">Plan to Play</option>
                            <option value="Dropped">Dropped</option>
                            <option value="On-Hold">On-Hold</option>
                            <option value="Replaying">Replaying</option>
                        </select>
                        <div v-else>{{item.progress}}</div>
                        <button v-if="auth.id != 0 && $route.params.id == auth.id" @click="updateGameCard(item, 'progress')">
                            <font-awesome-icon :icon="['fas', 'arrows-rotate']"/>
                        </button>
                    </div>
                    
                    <div>
                        <select v-if="auth.id != 0 && $route.params.id == auth.id" name="score" v-model="item.note" 
                        :class="`${(cssEffect.type == 'note' && cssEffect.obj == item)? 'cssEffect':''}`">
                            <option value="Unknow">Select</option>
                            <option value="Incredible">Awesome</option>
                            <option value="Great">Great</option>
                            <option value="Good">Good</option>
                            <option value="Fine">Fine</option>
                            <option value="Meh">Meh</option>
                            <option value="Horrible">Horrible</option>
                        </select>
                        <div v-else>{{(item.note == undefined)? "Unknow" : item.note}}</div>
                        <button v-if="auth.id != 0 && $route.params.id == auth.id" @click="updateGameCard(item, 'note')">
                            <font-awesome-icon :icon="['fas', 'arrows-rotate']"/>
                        </button>
                    </div>
                    
                    <div>
                        <select v-if="auth.id != 0 && $route.params.id == auth.id" name="type" v-model="item.tag" 
                        :class="`${(cssEffect.type == 'tag' && cssEffect.obj == item)? 'cssEffect':''}`">
                            <option v-for="tag in tags" :value="tag">{{tag.value}}</option>
                        </select>
                        <div v-else>{{item.tag.value}}</div>
                        <button v-if="auth.id != 0 && $route.params.id == auth.id" @click="updateGameCard(item, 'tag')">
                            <font-awesome-icon :icon="['fas', 'arrows-rotate']"/>
                        </button>
                    </div>
                </div>
                <div class="unselect" style="cursor: default;">
                    <div @click="showMe()">Status</div>
                    <div>Score</div>
                    <div>Tags</div>
                </div>
            </div>
        </div>
    </div>
    <div v-else id="emptyList">
        {{emptyList}}
    </div>
</div>