
#gameList {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

#gameList > div:nth-child(2) {
    width: 100%;
    max-width: 90vw;
}

#gameList > div:nth-child(2) > div{
    cursor: pointer;
}

#gameList > div:nth-child(2) > div{
    color: blue
}

// ----------------------------------------------------------
#gameListBanner {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 20vw;
    width: 100%;
    color: white;
    background-image: url('https://wallpaper.dog/large/9837.png');
}

#gameListBanner > div:first-child {
    display: flex;
    color: white;
}

#gameListBanner > div:nth-child(2) {
    display: flex;
    align-items: flex-end;
    height: 100%;
    justify-content: flex-end;
}

$statusheight: 2.5vw;

#gameListBanner > div:nth-child(2) > div {
    display: none;
    justify-content: flex-end;
    background-color: rgba(7, 8, 8, 0.623);
    border-top-left-radius: 0.7vw;
    height: $statusheight;
    width: 14vw;
    font-size: 0.9vw;
    line-height: $statusheight;
}

#gameListBanner > div:nth-child(2) > div > div {
    margin: 0px 1.2vw;
    cursor: pointer;
}

$progressFilterHeight: 2.6vw;

#gameList > div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: $progressFilterHeight;
}

#gameList > div:nth-child(2) > div {
    height: 100%;
    width: 5vw;
    text-align: center;
    font-weight: 600;
    font-size: 0.8vw;
    color: rgb(75, 75, 138);
    line-height: $progressFilterHeight;
}

#gameList > div:nth-child(2) > div:hover {
    font-size: 0.9lvw;
}

#gameList > div:nth-child(3) {
    display: none;
}

#gameList > div:nth-child(4) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 74.1vw;
    font-size: 1.8vw;
}
// ---------------------------------------------------------
#gameCardList {
    width: 18vw;
    margin: 0px 0.5vw 0.5vw 0px;
    font-size: 0.8vw;
}

#gameCardList > div:first-child {
    position: relative;
}

#cardImage {
    display: flex;
    align-items: flex-end;
    color: white;
    height: 11vw;
}

#cardImage > div {
    background-color: rgba(0, 0, 0, 0.781);
    width: 100%;
    height: 2.11vw;
    line-height: 2.11vw;
    text-align: center;
}

#gameCardList > div:first-child > span {
    z-index: 1000;
    position: absolute;
    color: white;
    cursor: pointer;
    top: 0;
    right: 0;
    width: 2vw;
    height: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 0.5vh;
    background-color: rgba(0, 0, 0, 0.781);
}

#gameCardList > div:first-child > span:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

$tagsBackColor: rgb(38, 40, 38);
$tagsBorderColor: rgb(56, 56, 56);

#gameCardList > div:nth-child(2) {
    background-color: $tagsBackColor;
    color: white;
    border: 0.16vw solid $tagsBorderColor;
}

#gameCardList > div:nth-child(2) > div {
    padding: 0.26vw 0px 0px 0.53vw;
}

#gameCardList > div:nth-child(2) > div:first-child {
    padding-top: 0.42vw;
}

#gameCardList > div:nth-child(2) > div:nth-child(3) {
    display: flex;
    align-items: center;
    padding-bottom: 0.26vw;
}

$progresBar: 0.37vw;

#gameCardList > div:nth-child(2) > div:nth-child(3) > div:first-child {
    width: 98%;
    height: $progresBar;
    margin-right: 0.53vw;    
}

#gameCardList > div:nth-child(2) > div:nth-child(3) > div:first-child > div {
    height: $progresBar;
}

#gameCardList > div:nth-child(3) {
    display: flex;
    border: 0.16vw solid $tagsBorderColor;
    border-top: unset;
}

#gameCardList > div:nth-child(3) > div:first-child{
    width: 72%;
}

#gameCardList > div:nth-child(3) > div:nth-child(2){
    width: 28%;
    text-align: center;
}

$heightValue: 2vw;

#gameCardList > div:nth-child(3) > div:nth-child(2) > div{
    line-height: $heightValue - 0.11vw;
    height: $heightValue - 0.11vw;
    border: 0.16vw solid $tagsBorderColor;
    border-top: unset;
    border-right: unset;
    color: white;
    background-color: $tagsBackColor;
}

#gameCardList > div:nth-child(3) > div:nth-child(2) > div:last-child{
    border-bottom: unset;
}

#gameCardList > div:nth-child(3) > div:first-child > div {
    display: flex;
    align-items: center;
    padding: 0px 0.26vw;
    height: $heightValue;
}

#gameCardList > div:nth-child(3) > div:first-child > div > *{
    width: 100%;
    height: 1.58vw;
    font-size: 0.7vw;
}

#gameCardList > div:nth-child(3) > div:first-child > div > div{
    line-height: 1.84vw;
    padding-left: 0.26vw;
    cursor: default;
    border-bottom: 0.1vw solid black;
}

#gameCardList > div:nth-child(3) > div:first-child > div > select{
    padding-left: 0.2vw;
}

#gameCardList > div:nth-child(3) > div:first-child > div > button{
    padding: 0px;
    width: 2vw;
    margin-left: 0.4vw;
}

#gameCardList > div:nth-child(3) > div:first-child > div > select:focus{
    outline: unset;
}

#gameCardList > div:nth-child(3) > div:first-child > div > div::selection{
    background-color: transparent;
}

#emptyList {
    text-align: center;
    font-size: 1.58vw;
    font-weight: 600;
    justify-content: center !important;
    color: rgb(91, 68, 126);
    height: 10.53vw;
    line-height: 10.53vw;
    cursor: default;
}

#emptyList::selection {
    background-color: transparent;
}

.cssEffect {
    color: white !important;
    background-color: $tagsBorderColor;
}

// ----------------------------------------------------------------------

@media screen and (max-width: 800px) {
    #gameCardList > div:first-child > span {
        width: 7vw;
        height: 7vw;
    }

    #gameListBanner {
        height: 80vw;
    }
        
    $statusheight: 2.5vw * 4;

    #gameListBanner > div:nth-child(2) > div {
        border-top-left-radius: 0.7vw * 4;
        height: $statusheight;
        width: 14vw * 4;
        font-size: 0.9vw * 4;
        line-height: $statusheight;
    }

    #gameListBanner > div:nth-child(2) > div > div {
        margin: 0px 1.2vw * 4;
    }
    // -----------------------------------------------

    #gameList > div:nth-child(2) {
        display: none;
    }

    #gameList > div:nth-child(3) {
        display: flex;
        width: 100%;
    }

    $selectHeight: 12vw;

    #gameList > div:nth-child(3) > div{
        display: flex;
        align-items: center;
        position: relative;
        justify-content: center;
        height: $selectHeight;
        margin: 3vw 0px;
        width: 100%;
    }

    #gameList > div:nth-child(3) > div > * {
        -webkit-appearance: none;
        appearance: none;
        height: 85%;
        width: 88%;
        font-size: 4vw;
        border-radius: 1vw;
        padding: 0px 4vw;
        margin-right: 2vw;
        border: 0.6vw solid rgb(180, 182, 184);
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
    }

    #gameList > div:nth-child(3) > div::after {
        content: "▼";
        font-size: 3vw;
        right: 10vw;
        position: absolute;
    }

    #gameList > div:nth-child(4) {
        font-size: 5vw;
        justify-content: center;
        width: 100%;
    }
    // -----------------------------------------------

    #gameCardList {
        width: 88%;
        margin: 0px 2vw 4vw 0px;
        font-size: 4vw;
    }
    
    #cardImage {
        height: 50vw;
    }
    
    #cardImage > div {
        height: 10vw;
        line-height: 10vw;
    }
    // -----------------------------------------------
    #gameCardList > div:nth-child(2) {
        border-width: 0.5vw;
    }

    #gameCardList > div:nth-child(2) > div {
        padding-top: 2.5vw;
        padding-left: 2vw;
    }

    #gameCardList > div:nth-child(2) > div:first-child {
        padding-top: 2vw;
    }

    #gameCardList > div:nth-child(2) > div:nth-child(3) {
        padding-bottom: 2vw;
    }

    $progresBar: 1.5vw;

    #gameCardList > div:nth-child(2) > div:nth-child(3) > div:first-child {
        height: $progresBar;
        margin-right: 2vw;
    }

    #gameCardList > div:nth-child(2) > div:nth-child(3) > div:first-child > div {
        height: $progresBar;
    }

    #gameCardList > div:nth-child(3) {
        border: 0.5vw solid $tagsBorderColor;
        border-top: unset;
    }

    $heightValue: 8vw;

    #gameCardList > div:nth-child(3) > div:first-child > div {
        padding: 0px 1vw;
        height: $heightValue;
    }

    #gameCardList > div:nth-child(3) > div:first-child > div > *{
        height: $heightValue - 1vw;
        margin-top: 1vw;
        font-size: 3vw;
    }

    #gameCardList > div:nth-child(3) > div:first-child > div > select{
        padding-left: 0.5vw;
    }

    #gameCardList > div:nth-child(3) > div:first-child > div > button{
        width: 8vw;
        padding: 0px;
    }

    #gameCardList > div:nth-child(3) > div:first-child > div > div{
        line-height: $heightValue;
        font-size: 3.5vw;
        padding-left: 1.5vw;
    }

    #gameCardList > div:nth-child(3) > div:nth-child(2) > div{
        line-height: $heightValue + 1vw;
        height: $heightValue - 0.2vw;
        border-width: 0.7vw;
        border-top: unset;
        border-inline: unset;
    }
}