
#signUp {
    position: relative;
    background-color: black;
}

#registry{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#registry > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// ------------------------------------------------------
$portalSize: 35vh;
$portalIn: calc($portalSize * 90/100);

#registry > div > div:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: 0.34vh solid white;
    border-radius: 100%;
    width: $portalSize;
    height: $portalSize;
}

#registry > div > div:first-child > :first-child{
    border: 0.67vh solid white;
    border-radius: 100%;
    width: $portalIn;
    height: $portalIn;
}
// ------------------------------------------------------

#userForm {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-end;
    margin-left: 2vh;
}

#userForm > div:first-child {
    position: absolute;
    line-height: 5.5vh;
    width: 25vh;
}

#userForm > div:first-child > div {
    margin-left: 1vh;
    font-size: 1.7vh;
    color: red;
    cursor: default;
}

#userForm > div:first-child > div::selection {
    background-color: transparent;
}

#userForm > div:nth-child(2){
    display: flex;
    height: 15vh;
    width: 25.5vh;
    margin-top: 1vh;
    align-items: center;
    justify-content: space-around;
    color: white;
}

select {
    -webkit-appearance: none;
    appearance: none;
}

select > :first-child {
    display: none;
}

$inputRadius: 3.34vh;
$inputWidth: 20vh;
$inputHeight: calc(12vh  * 27/100);
$inputPaddingLeft: 1.34vh;
$fontSize: 1.18vh;

#userForm > div:nth-child(2) > div:first-child > input, select {
    padding: 0;
    appearance: none;
    border: unset;
    border-radius: $inputRadius;
    padding-left: $inputPaddingLeft;
    font-size: $fontSize;
    height: $inputHeight;
    width: 20vh;
}

#userForm select {
    width: 21vh;
}

#userForm > div:nth-child(2) > div:first-child {
    display: flex;
    flex-direction: column;
}

#userForm > div:nth-child(2) > div:last-child {
    font-size: $fontSize + 0.8vh;
}

#registry button {
    border-radius: $inputRadius;
    height: $inputHeight + 0.4vh;
    width: $inputWidth + $inputPaddingLeft;
    font-size: $fontSize;
    color: white;
    font-weight: 600;
    margin-top: 1vh;
    background-color: black;
    border: 0.34vh solid white;
}

#registry button:hover {
    background-color: white;
    color: black;
}

@media  screen and (max-width: 800px) {
    $inputHeight: calc(15vh  * 27/100);

    #userForm > div:nth-child(2){
        margin-top: 2vh;
    }

    $fontSize: 1.4vh;

    #userForm > div:nth-child(2) > div:first-child :first-child {
        height: $inputHeight;
        font-size: $fontSize;
    }

    #userForm > div:nth-child(2) > div:last-child {
        font-size: $fontSize + 0.8vh;
    }    

    #registry button {
        font-size: $fontSize;
        height: $inputHeight;
    }
}