
#signUp {
    position: relative;
    background-color: black;
}

#registry{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#registry > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// ------------------------------------------------------
$portalSize: 350px;

#registry > div > div:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: 3px solid white;
    border-radius: 100%;
    width: $portalSize;
    height: $portalSize;
}

#registry > div > div:first-child > :first-child{
    border: 7px solid white;
    border-radius: 100%;
    width: $portalSize - 35px;
    height: $portalSize - 35px;
}
// ------------------------------------------------------

#userForm {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-end;
    width: 285px;
}

#userForm > div:first-child {
    position: absolute;
    height: 40px;
    line-height: 60px;
    width: 250px;
}

#userForm > div:first-child > div {
    margin-left: 10px;
    color: red;
}

#userForm > div:nth-child(2){
    display: flex;
    height: 150px;
    width: 250px;
    align-items: center;
    justify-content: space-around;
    color: white;
    margin-top: 10px;
}

select {
    -webkit-appearance: none;
    appearance: none;
}

select > :first-child {
    display: none;
}

#userForm > div:nth-child(2) > div:first-child :first-child {
    border-radius: 30px;
    padding: 0px;
    padding-left: 15px;
    height: 30px;
    appearance: none;
    border: 2px solid black;
    height: 35px;
}

#registry button {
    border-radius: 30px;
    height: 35px;
    width: 215px;
    color: white;
    font-weight: 600;
    margin-top: 8px;
    background-color: black;
    border: 2px solid white;
}

#registry button:hover {
    background-color: white;
    color: black;
}