$searchBarHeight: 5.53vw;

#gamePage {
    position: relative;
    min-height: 100vh;
    min-width: 8.95vw;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0) 35%, rgba(12, 44, 59, 0.349)),
    url("https://wallpapercave.com/wp/wp2732962.jpg");
}

#gamePage > div {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
}

#gamePage > div > div:first-child {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    color: white;
    height: 26.32vw;
    justify-content: flex-end;
    background-image: url("https://wallpaperaccess.com/full/5871207.png");
}

#gamePage > div > div:first-child > div:first-child {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: calc(100% - $searchBarHeight);
} 

#gamePage > div > div:first-child > div:first-child > div {
    max-width: 25.26vw;
    min-width: 14vw;
    margin-left: 10%;
    margin-right: 1.05vw;
}

#gamePage > div > div:first-child > div:first-child > div h1 {
    margin-left: 1.58vw;
    font-size: 2.1vw;
}

#gamePage > div > div:first-child > div:first-child > div h2 {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1.05vw 1.58vw;
    border-radius: 1.58vw;
    font-weight: 100;
    font-size: 1.2vw;
}

#gamePage > div > div:nth-child(2){
    border: 0.16vw solid rgb(27, 42, 46); // rgb(83, 80, 129);
    border-inline: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100%;
    height: 2.37vw;
}

#gamePage > div > div:nth-child(2) > div {
    display: flex;
    width: 26.32vw;
    justify-content: space-around;
}

#gamePage > div > div:nth-child(2) > div > div {
    cursor: pointer;
    font-size: 0.74vw;
    font-weight: 600;
    padding: 0.53vw 5vw;
    color: rgb(27, 42, 46);
    margin-top: 0.16vw;
    border-bottom: 0.16vw solid white;
}

#gamePage > div > div:nth-child(2) > div > select{
    padding: 0.53vw 0.53vw;
    text-align: center;
    font-weight: 600;
    border-width: 0.1vw;
    -webkit-appearance: none;
        appearance: none;
    font-size: 0.74vw;
}

#gamePage > div > div:nth-child(2) > div > div:hover {
    border-bottom: 0.16vw solid rgb(27, 42, 46);
}

#searchBar {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    border-radius: 0.53vw;
    height: $searchBarHeight;
    width: 100%;
    min-width: 18.42vw;
}

#searchBar input {
    border: unset;
    border-radius: 1.05vw;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 0.79vw;
    padding: 0;
    padding-left: 1.05vw;
    height: 2.1vw;
    width: 22.37vw;
    outline: unset;
    margin-left: 1.05vw;
}

#searchBar > div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 1.05vw;
    border-bottom-right-radius: 1.05vw;
    cursor: pointer;
    font-size: 0.9vw;
    padding: 0px 0.79vw;
    color: white;
    background-color: rgba(42, 64, 70, 0.8);
    height: 2.1vw;
    margin-right: 1.32vw;
}

#allGames{
    display: flex;
    justify-content: center;
    padding: 1.58vw 0px 0px 0px;
}

#allGames > div {
    display: flex;
    flex-wrap: wrap;
    width: 89%;
    justify-content: flex-start;
}

#allGames > div > a {
    display: flex;
    justify-content: center;
    width: 14.74vw;
    height: 6.1vw;
}

#gameCard {
    cursor: pointer;
    width: 13.42vw;
    height: 5.26vw;
}

#gameCard > div:first-child {
    width: 100%;
    height: 5.26vw;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.26vw;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    overflow: hidden;
    transition: transform 1s;
    will-change: transform;
    filter: brightness(0.9);
    border-left: 0.26vw solid rgb(243, 173, 42);
}

#gameCard > div:first-child:hover {
    transform: scale(0.9);
    filter: contrast(1.3);
    filter: brightness(1);
    z-index: 1000;
}

// ---------- Score
#gameCard > div:first-child > div:first-child {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 0.9vw;
    padding: 0.1vw 0px 0.2vw 0px;
    width: 3.26vw;
    background-color: rgba(0, 0, 0, 0.664);
    border-top-right-radius: 0.26vw;
    border-bottom-left-radius: 0.53vw;
    color: white;
}

#gameCard > div:first-child > div:first-child > :first-child{
    height: 0.86vw;
    color: rgb(238, 241, 44);
    margin-left: 0.26vw;
}

#gameCard > div:first-child > div:first-child > div:last-child {
    text-align: center;
    margin-top: 0.16vw;
    margin-right: 0.16vw;
}

// -------------Card Name
#gameCard > div:first-child > div:nth-child(2) {
    display: flex;
    align-items: center;
    font-size: 0.9vw;
    width: 100%;
    padding-left: 0.53vw;
    bottom: 0px;
    position: absolute;
    color: white;
    height: 1.58vw;
    background-color: rgba(0, 0, 0, 0.623);
}

// ----------------------------------------------------

// @media screen and (max-width: 1200px) {
//     #gamePage > div > div:first-child {
//         background-size: unset;
//     }
// }

// @media screen and (max-width: 650px) {
//     #gamePage > div > div:nth-child(2){
//         height: auto;
//         border: unset;
//         border-top: 0.16vw solid rgb(27, 42, 46);
//     }

//     #gamePage > div > div:nth-child(2) > div{
//         flex-direction: column;
//         width: 100%;
//         text-align: center;
        
//     }

//     #gamePage > div > div:nth-child(2) > div > div {
//         border-color: black;
//         margin: 0px;
//     }

//     #gamePage > div > div:nth-child(2) > div > *:hover, #selectCustom:hover {
//         color: white;
//         background-color: rgb(27, 42, 46);   
//     }
// }