<div id="gamePage">
    <div>
        <div>
            <div></div>
            <div id="searchBar">
                <input placeholder="Search your game" />
                <div>Search</div>
            </div>
        </div>
        <div id="allGames">
            <div v-for="gameCard in games" id="gameCard">
                <div :style="{backgroundImage: `url(${gameCard.img})`}"></div>
                <div>⭐ 7.0</div>
                <div>{{gameCard.name}}</div>
            </div>
        </div>
    </div>
</div>