#gamePage {
    min-height: 100vh;
    // background-color: rgb(31, 31, 37);
    background-image: linear-gradient(to bottom, rgb(0, 0, 0) 35%, rgba(12, 44, 59, 0.349)),
    url("https://wallpapercave.com/wp/wp2732962.jpg");
}

#gamePage > div {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
}

#gamePage > div > div:first-child {
    display: flex;
    width: 100%;
    color: white;
    height: 500px;  
    background-image: url("https://wallpaperaccess.com/full/5871207.png");
}

#gamePage > div > div:first-child > div:first-child {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
} 

#gamePage > div > div:first-child > div:first-child > div {
    margin-left: 100px;
    margin-bottom: 100px;
}

#gamePage > div > div:first-child > div:first-child > div h1 {
    margin-left: 30px;
    font-size: 40px;
}

#gamePage > div > div:first-child > div:first-child > div h2 {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 30px;
    width: 450px;
    border-radius: 30px;
    font-weight: 100;
}

#gamePage > div > div:nth-child(2){
    border: 3px solid rgb(27, 42, 46); // rgb(83, 80, 129);
    border-inline: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100%;
    height: 45px;
}

#gamePage > div > div:nth-child(2) > div {
    display: flex;
    width: 500px;
    justify-content: space-around;
}

#gamePage > div > div:nth-child(2) > div > div {
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 70px;
    color: rgb(27, 42, 46);
    margin-top: 3px;
    border-bottom: 3px solid white;
}

#gamePage > div > div:nth-child(2) > div > div:hover {
    border-bottom: 3px solid rgb(27, 42, 46);
}

#searchBar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 25px;
    margin-right: 25px;
    border-radius: 10px;
    height: 40px;
    width: 50%;
}

#searchBar input {
    border: unset;
    border-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 15px;
    padding-left: 20px;
    height: 40px;
    width: 40%;
    outline: unset;
}

#searchBar > div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    padding: 0px 20px;
    color: white;
    background-color: rgba(42, 64, 70, 0.8);
    height: 42px;
}

#allGames{
    display: flex;
    justify-content: center;
    padding: 30px 0px 0px 0px;
}

#allGames > div {
    display: flex;
    flex-wrap: wrap;
    width: 89%;
}

#allGames > div > *{
    display: flex;
    justify-content: center;
    width: 280px;
    height: 140px;
}

#gameCard {
    cursor: pointer;
    width: 255px;
    height: 100px;
}

#gameCard > div:first-child {
    width: 100%;
    height: 100px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    overflow: hidden;
    transition: transform 1s;
    will-change: transform;
    filter: brightness(0.9);
    border-left: 5px solid rgb(243, 173, 42);
}

#gameCard > div:first-child:hover {
    
    transform: scale(0.9);
    filter: contrast(1.3);
    filter: brightness(1);
    z-index: 1000;
}

// ---------- Score
#gameCard > div:first-child > div:first-child {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 1px 0px 3px 0px;
    width: 55px;
    background-color: rgba(0, 0, 0, 0.664);
    border-top-right-radius: 5px;
    border-bottom-left-radius: 10px;
    color: white;
}

#gameCard > div:first-child > div:first-child > :first-child{
    height: 13px;
    color: rgb(238, 241, 44);
    margin-left: 5px;
}

#gameCard > div:first-child > div:first-child > div:last-child {
    text-align: center;
    margin-top: 3px;
    margin-right: 3px;
}

// -------------Card Name
#gameCard > div:first-child > div:nth-child(2) {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 10px;
    bottom: 0px;
    position: absolute;
    color: white;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.623);
}