$searchBarHeight: 5.53vh * 2;

:deep(#filter){
    display: flex;
    justify-content: center;
}

#gamePage {
    position: relative;
    min-height: 100vh;
    background-color: black;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0) 35%, rgba(12, 44, 59, 0.349)),
    url("https://wallpapercave.com/wp/wp2732962.jpg");
}

#gamePage > div:last-child {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
}

#gamePage > div:last-child > div:first-child {
    display: flex;
    flex-direction: column-reverse; 
    width: 100%;
    color: white;
    height: 26.32vh * 2;
    justify-content: flex-end;
}

#gamePage > div:last-child > div:first-child > div:first-child {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: calc(100% - $searchBarHeight);
} 

#gamePage > div:last-child > div:first-child > div:first-child > div {
    max-width: 25.26vh * 2;
    min-width: 14vh * 2;
    margin-left: 10%;
    margin-right: 1.05vh * 2;
}

#gamePage > div:last-child > div:first-child > div:first-child > div h1 {
    margin-left: 1.58vh * 2;
    font-size: 2.1vh * 2;
}

#gamePage > div:last-child > div:first-child > div:first-child > div h2 {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1vh * 2;
    border-radius: 1vh * 2;
    font-weight: 100;
    font-size: 1.2vh * 2;
}

#gamePage > div:last-child > div:nth-child(2){
    border: 0.4vh solid rgb(27, 42, 46); // rgb(83, 80, 129);
    border-inline: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100%;
    height: 2.37vh * 2;
}

#gamePage > div:last-child > div:nth-child(2) > div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

$heightChoice: 4vh;

#gamePage > div:last-child > div:nth-child(2) > div > div {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 0.74vh * 2;
    font-weight: 600;
    width: 15vh;
    height: $heightChoice;
    margin: 0px 0.5vw;
    color: rgb(27, 42, 46);
    margin-top: 0.16vh * 2;
    box-sizing: border-box;
    border-bottom: 0.1vh solid white;
}

#gamePage > div:last-child > div:nth-child(2) > div > div:last-child {
    width: auto;
    border-bottom: unset;
}

#selectCustom{
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    padding: 0 0.8vh 0.3vh 0.8vh;
    height: $heightChoice;
    border-width: 0.1vh;
    margin: 0px 1.3vw;
    -webkit-appearance: none;
    appearance: none;
    font-size: 0.74vh * 2;
}

#gamePage > div:last-child > div:nth-child(2) > div > div:hover {
    border-bottom: 0.3vh solid rgb(27, 42, 46);
}

#gamePage > div:last-child > div:nth-child(2) > div > div:last-child:hover {
    border-bottom: unset;
}

#searchBar{
    display: flex;
    position: relative;
    width: 100%;
    height: 3.68vh * 2;
}

#searchBar input:focus {
    outline: none;
}

#searchBar > span {
    display: flex;
    margin-left: auto;
    margin-right: 5vh;
    width: 45vh;
    margin-top: 1.3vh * 2;
}

$searchIconWidth: 12%;
$searchHeight: 2.2vh * 2;

#searchBar > span > input {
    border: unset;
    border-radius: 1.58vh * 2;
    padding: 0px;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
    font-size: 0.79vh * 2;
    padding-left: 1.05vh * 2;
    height: $searchHeight;
    width: 100% - $searchIconWidth;
}

#searchBar > span > :last-child {
    display: flex;
    justify-content: center;
    color: black;
    align-items: center;
    width: $searchIconWidth;
    cursor: pointer;
    font-size: 2vh;
    height: $searchHeight;
    padding-right: 0.2vh * 2;
    border-top-right-radius: 1.58vh * 2;
    border-bottom-right-radius: 1.58vh * 2;
    background-color: white;
}

#allGames{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1.58vw 0px 0px 0px;
}
// ------------------------------------------------------------------------------
#allGames > div:first-child {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25vh, 1fr));
    place-items: center;
    grid-gap: 0.2vh;
    width: 92%;
    margin: 0px auto;
}

// ------------------------------------------------------------------------------
#allGames > div:first-child > a {
    display: flex;
    width: 100%;
    height: 5.8vh * 2;
}

#gameCard {
    cursor: pointer;
    width: 95%;
}

#gameCard > div:first-child {
    width: 100%;
    height: 5.26vh * 2;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.26vh * 2;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    overflow: hidden;
    transition: transform 1s;
    will-change: transform;
    filter: brightness(0.9);
    border-left: 0.35vh solid rgb(243, 173, 42);
}

#gameCard > div:first-child:hover {
    transform: scale(0.9);
    filter: contrast(1.3);
    filter: brightness(1);
    z-index: 1000;
}

// ---------- Score
#gameCard > div:first-child > div:first-child {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 0.8vh * 2;
    padding: 0.2vh 0px 0.6vh 0px;
    background-color: rgba(0, 0, 0, 0.664);
    border-top-right-radius: 0.26vh * 2;
    border-bottom-left-radius: 0.53vh * 2;
    color: white;
}

#gameCard > div:first-child > div:first-child > :first-child{
    height: 0.8vh * 2;
    color: rgb(238, 241, 44);
    margin-left: 0.26vh * 2;
}

#gameCard > div:first-child > div:first-child > div:last-child {
    text-align: center;
    margin-top: 0.2vh * 2;
    margin-left: 0.25vh * 2;
    margin-right: 0.16vh * 2;
}

// -------------Card Name
#gameCard > div:first-child > div:nth-child(2) {
    font-size: 0.9vh * 2;
    width: 100%;
    padding-left: 0.53vh * 2;
    bottom: 0px;
    position: absolute;
    color: white;
    height: 1.58vh * 2;
    line-height: 1.58vh * 2;
    background-color: rgba(0, 0, 0, 0.623);
}

// -----------------Loading

#loadingGame{
    display: flex;
    justify-content: flex-start;
    width: fit-content !important;
    color: white; 
    font-size: 2vh;
}

// ----------------------------------------------------

@media screen and (max-width: 1280px) {
    #gamePage > div:last-child > div:first-child {
        background-size: auto;
        height: auto;
    }

    #gamePage > div:last-child > div:first-child > div:first-child{
        align-items: center;
        margin: 5vh 0px;
    }
}

@media screen and (max-width: 920px) {
    #gamePage > div:last-child > div:nth-child(2) > div > div {
        width: 15vw;
    }
}


@media screen and (max-width: 725px) {

    #selectCustom:focus {
        outline: unset;
    }

    #loadingGame {
        font-size: 2.5vw;
    }

    #gamePage > div:last-child > div:first-child > div:first-child > div {
        margin-left: 5vw;
    }

    #gamePage > div:last-child > div:nth-child(2){
        height: auto;
    }

    #gamePage > div:last-child > div:nth-child(2) > div{
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    $filtersHeight: 5vh;

    #gamePage > div:last-child > div:nth-child(2) > div > div {
        width: 100%;
        margin: 0;
        height: $filtersHeight;
        border-bottom: 0.3vh solid rgb(27, 42, 46);
    } 

    #gamePage > div:last-child > div:nth-child(2) > div > div:last-child {
        width: 100%;
        border: unset;
    }

    #selectCustom{
        height: $filtersHeight;
        border: unset;
        text-align: -webkit-center !important;
        width: auto;
        color: black;
        background-color: transparent;
    }

    #gamePage > div:last-child > div:nth-child(2) > div > *:active, #selectCustom:active {
        color: white !important;
        background-color: rgb(27, 42, 46); 
        -webkit-tap-highlight-color: transparent;
    }

    #gamePage > div:last-child > div:nth-child(2) > div > *::selection, #selectCustom::selection{
        background-color: transparent;
    }
}

@media screen and (max-width: 715px) {
    
    #gameCard > div:first-child:hover {
        transform: unset;
        z-index: unset;
    }

    #allGames > div:first-child {
        width: 95%;
        padding: 4vw 0px 3vw 0px;
    }
    
    #allGames > div:first-child > a {
        width: 45vw;
        height: 40vw;
    }
    
    #gameCard {
        width: 95%;
    }
    
    #gameCard > div:first-child {
        height: 95%;
        border-radius: 3vw;
        border-left: 0.5vw solid rgb(243, 173, 42);
    }
    
    // ---------- Score
    #gameCard > div:first-child > div:first-child {
        font-size: 3vw;
        padding: 0.3vw 0px 1vw 0px;
        width: 10vw;
        border-bottom-left-radius: 2vw;
    }
    
    #gameCard > div:first-child > div:first-child > :first-child{
        height: 2.5vw;
        margin-left: 1vw;
    }
    
    // -------------Card Name
    #gameCard > div:first-child > div:nth-child(2) {
        font-size: 3vw;
        height: 7vw;
        line-height: 7vw;
    }
}

@media screen and (max-width: 675px) {
    $margin-Top-search: 1.79vh * 2;

    .backPage {
        position: relative;
        margin: 0px;
        margin-top: $margin-Top-search;
    }
    
    $searchHeight: 1.8vh * 2;

    :deep(#goBack) {
        height: $searchHeight;
        border-radius: 1.58vh * 2;
        border-top-right-radius: unset;
        border-bottom-right-radius: unset;
    }
    
    #searchBar{
        justify-content: center;
    }

    #searchBar > :first-child {
        display: flex;
        justify-content: center;
    }

    #searchBar > span {
        margin: 0;
        max-width: 60vw;
        margin-top: $margin-Top-search;
    }

    #searchBar > span > input {
        border-radius: unset;
        font-size: 1.5vh;
        padding-left: 0.5vh;
        height: $searchHeight;
    }

    #searchBar > span > :last-child {
        font-size: 1.7vh;
        height: $searchHeight;
    }
}

@media screen and (max-width: 335px) {


    #gamePage > div:last-child > div:first-child > div:first-child > div{
        max-width: unset;
        min-width: unset;
        margin-right: 6vw;
    }
    
    #gamePage > div:last-child > div:first-child > div:first-child > div > h1{
        font-size: 9vw;
    }

    #gamePage > div:last-child > div:first-child > div:first-child > div > h2{
        font-size: 5.5vw;
        padding: 3vw;
        border-radius: 3vw;
    }
}