<div id="userPage" class="backImageConfig">
    <span class="backPage">
        <div @click="goBack()">Back</div>
    </span>
    <div>
        <div id="searchBar">
            <input placeholder="Search username" />
            <div>Search</div>
        </div>
        <div id="allUsers">
            <div v-for="userCard in users" id="userCard">
                <div :style="{ backgroundImage: `url(${(userCard.sex === 'Male') ? imgType.male : imgType.female})` }"></div>
                <div>{{userCard.name}}</div>
                <div>{{userCard.role}}</div>
                <span>
                    <div>
                        <div>{{userCard.followers}}</div>
                        <div>followers</div>
                    </div>
                    <div>
                        <div>{{userCard.played}}</div>
                        <div>games played</div>
                    </div>
                    <div>
                        <div>{{userCard.nationality}}</div>
                        <div>nationality</div>
                    </div>
                </span>
                <router-link to="/profile">View Profile</router-link>
            </div>
        </div>
    </div>
</div>