<div id="userPage" class="backImageConfig">
    <span class="backPage">
        <div @click="goBack()">Back</div>
    </span>
    <div>
        <div id="searchBar">
            <input placeholder="Search username" />
            <div>Search</div>
        </div>
        <div id="allUsers">
            <div v-for="userCard in users" id="userCard">
                <div :style="{ backgroundImage: `url(${(userCard.sexuality === 'M') ? imgType.male : imgType.female})` }"></div>
                <div>{{userCard.nickname}}</div>
                <div>{{(userCard.role[0].roleName == 'ROLE_ADMIN')? 'Admin': 'User'}}</div>
                <span>
                    <div>
                        <div>{{userCard.completed}}</div>
                        <div>games played</div>
                    </div>
                    <div>
                        <div>{{userCard.friend.length}}</div>
                        <div>friends</div>
                    </div>                    
                    <div>
                        <div>{{userCard.nationality.name}}</div>
                        <div>nationality</div>
                    </div>
                </span>
                <router-link to="/profile" @click="userChoice(userCard)">View Profile</router-link>
            </div>
        </div>
    </div>
</div>