#userPage {
    min-height: 100vh;
    // background-color: rgb(25, 36, 34);
    position: relative;
    background-image: url("https://wallpaperaccess.com/full/25557.jpg");
}

#userPage > div{
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#searchBar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    border-radius: 10px;
    width: 90%;
    height: 70px;
}

#searchBar input:focus {
    outline: none;
}

#searchBar input {
    border: unset;
    border-radius: 30px;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
    font-size: 15px;
    padding-left: 20px;
    height: 40px;
    width: 30%;
}

#searchBar > div {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 42px;
    padding-right: 20px;
    padding-left: 15px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: white;
}

#searchBar > div:hover {
    background-color: rgb(8, 151, 104);
    color: white;
}

#allUsers{
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0px;
    width: 92%;
}

#userCard {
    transform: scale(0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 400px;
    margin-bottom: 10px;
    margin-left: 10px;
    position: relative;
    border-radius: 10px;
    background-color: white;
}

#userCard > div:first-child {
    margin-top: 40px;
    width: 150px;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
}

#userCard > div:nth-child(2) {
    margin-top: 20px;  
    text-align: center;
    font-size: 17px; 
    font-weight: 600;
}

#userCard > div:nth-child(3) {
    text-align: center;
    font-size: 13px; 
    margin-bottom: 20px;
}

#userCard span {
    display: flex;
    width: 90%;
    justify-content: space-around;
}

#userCard span > div {
    text-align: center;
}

#userCard span > div > div:first-child {
    color: rgb(8, 151, 104);
    font-weight: 600;
}

#userCard button {
    margin-top: 30px;
    border: unset;
    background-color: rgb(8, 151, 104);
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: 600;
}