<div id="gameList">
    <div></div>
    <div>
        <div>
            <router-link to="/">MyJList</router-link>
        </div>
        <div>
            <div id="gameListBanner">
                <div @click="goBack()">
                    <div>Back</div>
                </div>
                <div>
                    <div>status</div>
                    <div>filter</div>
                    <div>search</div>
                </div>
            </div>
            <div>
                <div>All Games</div>
                <div>Playing</div>
                <div>Replaying</div>
                <div>Plan to play</div>
                <div>On Hold</div>
                <div>Dropped</div>
                <div>Completed</div>
            </div>
            <div>
                <div>
                    <select name="status">
                        <option value="">All Games</option>
                        <option value="Playing">Playing</option>
                        <option value="Replaying">Replaying</option>
                        <option value="Plan to Play">Plan to play</option>
                        <option value="On Hold">On Hold</option>
                        <option value="Dropped">Dropped</option>
                        <option value="Completed">Completed</option>
                    </select>
                </div> 
            </div>
            <div>
                <div id="gameCardList" v-for="item in games">
                    <div class="backImageConfig" :style="{backgroundImage: `url(${item.img})`}">
                        <div>{{item.name}}</div>
                    </div>
                    <div>
                        <div>857 hours</div>
                        <div>42 minutes</div>
                        <div>
                            <div>
                                <div style="width: 62%;"></div>
                            </div>
                            (62%)
                        </div>
                    </div>
                    <div>
                        <div>
                            <div>
                                <select name="status" style="font-weight: 600; color: green;">
                                    <option value="">Completed</option>
                                    <option value="Playing">Playing</option>
                                    <option value="Plan to Play">Plan to Play</option>
                                    <option value="Dropped">Dropped</option>
                                    <option value="On Hold">On Hold</option>
                                    <option value="Replaying">Replaying</option>
                                </select>
                            </div>
                            <div>
                                <select name="score">
                                    <option value="Best">Best</option>
                                    <option value="Great">Great</option>
                                    <option value="Very Good">Very Good</option>
                                    <option value="Ok">Fine</option>
                                    <option value="Meh">Meh</option>
                                    <option value="Horrible">Horrible</option>
                                </select>
                            </div>
                            <div>
                                <select name="type">
                                    <option value="Offline">Offline</option>
                                    <option value="Online">Online</option>
                                </select>
                            </div>
                            <div>
                                <select name="type">
                                    <option value="Bad script">Bad script</option>
                                    <option value="Good script">Good script</option>
                                </select>
                            </div>
                        </div>
                        <div>
                            <div>Status</div>
                            <div>Score</div>
                            <div>Type</div>
                            <div>Tags</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>