<div id="gameList">
    <div class="backImageConfig" id="gameListBanner">
        <div class="backPage">
            <GoBackComponent />
        </div>
        <!-- <div class="unselect">
            <div>
                <div>status</div>
                <div>filter</div>
                <div>search</div>
            </div>
        </div> -->
    </div>
    <div class="unselect">
        <div @click="filterBy('all')">All Games</div>
        <div @click="filterBy('Playing')">Playing</div>
        <div @click="filterBy('Replaying')">Replaying</div>
        <div @click="filterBy('Plan to Play')">Plan to play</div>
        <div @click="filterBy('On-Hold')">On-Hold</div>
        <div @click="filterBy('Dropped')">Dropped</div>
        <div @click="filterBy('Completed')">Completed</div>
    </div>
    <div>
        <div>
            <select name="status">
                <option value="">All Games</option>
                <option value="Playing">Playing</option>
                <option value="Replaying">Replaying</option>
                <option value="Plan to Play">Plan to play</option>
                <option value="On Hold">On Hold</option>
                <option value="Dropped">Dropped</option>
                <option value="Completed">Completed</option>
            </select>
        </div> 
    </div>
    <div v-if="registry.length != 0">
        <div id="gameCardList" v-for="item in registry">
            <div>
                <router-link class="backImageConfig" id="cardImage" 
                :style="{backgroundImage: `url(${item.game.gameImage})`}" :to="`/singleGame/${item.game.id}`">
                    <div>
                        {{ item.game.name.slice(0, 40) }}
                        <span v-if="item.game.name.length > 40">. . .</span>
                    </div>
                </router-link>
            </div>
            <div>
                <div>{{hoursMinutes(item.game.playtime)[0]}} hours</div>
                <div>{{hoursMinutes(item.game.playtime)[1]}} {{(hoursMinutes(item.game.playtime)[1] == 1) ? 'minute' : 'minutes'}}</div>
                <div>
                    <div style="z-index: 10000;">
                        <div :style="{width: `${progress}%`, backgroundColor: `${colorChoice(item.progress.toLowerCase())}`}"></div>
                    </div>
                    <!-- ({{progress}}%) -->
                </div>
            </div>
            <div>
                <div>
                    <div>
                        <select v-if="auth.id != 0 && $route.params.id == auth.id" name="status" v-model="item.progress" style="font-weight: 600; color: rgb(104, 21, 107);">
                            <option value="Completed">Completed</option>
                            <option value="Playing">Playing</option>
                            <option value="Plan to Play">Plan to Play</option>
                            <option value="Dropped">Dropped</option>
                            <option value="On-Hold">On-Hold</option>
                            <option value="Replaying">Replaying</option>
                        </select>
                        <div v-else>{{item.progress}}</div>
                        <button v-if="auth.id != 0 && $route.params.id == auth.id" @click="okL()" style="width: 30px; margin-left: 2px;">
                            <font-awesome-icon :icon="['fas', 'arrows-rotate']"/>
                        </button>
                    </div>
                    <div>
                        <select v-if="auth.id != 0 && $route.params.id == auth.id" name="score" v-model="item.note">
                            <option value="Incredible">Awesome</option>
                            <option value="Great">Great</option>
                            <option value="Good">Good</option>
                            <option value="Fine">Fine</option>
                            <option value="Meh">Meh</option>
                            <option value="Horrible">Horrible</option>
                        </select>
                        <div v-else>{{item.note}}</div>
                        <button v-if="auth.id != 0 && $route.params.id == auth.id" @click="okL()" style="width: 30px; margin-left: 2px;">
                            <font-awesome-icon :icon="['fas', 'arrows-rotate']"/>
                        </button>
                    </div>
                    <div>
                        <select v-if="auth.id != 0 && $route.params.id == auth.id" name="type" v-model="item.tag.value">
                            <option value="Undefined">Undefined</option>
                            <option value="Bad Script">Bad script</option>
                            <option value="Good Script">Good script</option>
                        </select>
                        <div v-else>{{item.tag.value}}</div>
                        <button v-if="auth.id != 0 && $route.params.id == auth.id" @click="okL()" style="width: 30px; margin-left: 2px;">
                            <font-awesome-icon :icon="['fas', 'arrows-rotate']"/>
                        </button>
                    </div>
                </div>
                <div class="unselect" style="cursor: default;">
                    <div>Status</div>
                    <div>Score</div>
                    <div>Tags</div>
                </div>
            </div>
        </div>
    </div>
    <div v-else id="emptyList">
        {{emptyList}}
    </div>
</div>