
#gameList {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

#gameList > div:nth-child(2) {
    width: 100%;
    max-width: 90vw;
}

#gameList > div:nth-child(2) > div{
    cursor: pointer;
}
// ----------------------------------------------------------
#gameListBanner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    height: 380px;
    width: 100%;
    color: white;
    background-image: url('https://wallpaper.dog/large/9837.png');
}

#gameListBanner > div:first-child {
    display: flex;
    color: white;
    width: 100%;
}

#gameListBanner > div:first-child > div {
    margin-left: 20px;
    margin-top: 20px;
    cursor: pointer;
}

#gameListBanner > div:nth-child(2) {
    display: flex;
    margin: 0px 0px 15px 15px;
    justify-content: flex-end;
}

#gameListBanner > div:nth-child(2) > div {
    margin: 0px 20px;
    cursor: pointer;
}

#gameList > div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
}

#gameList > div:nth-child(2) > div {
    height: 100%;
    width: 100px;
    text-align: center;
    font-weight: 600;
    color: rgb(75, 75, 138);
    line-height: 50px;
}

#gameList > div:nth-child(2) > div:hover {
    font-size: 18px;
}


#gameList > div:nth-child(3) {
    display: none;
    height: 50px;
    align-items: center;
    justify-content: center;
}

#gameList > div:nth-child(3) > div {
    width: 90%;
}

#gameList > div:nth-child(3) > div > * {
    width: 100%;
    height: 30px;
}
// ---------------------------------------------------------

$progresBar: 7px;
$heightValue: 35px;
$tagsBackColor: rgb(38, 40, 38);
$tagsBorderColor: rgb(56, 56, 56);

#gameList > div:nth-child(4) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

#gameCardList {
    width: 322px;
    margin: 0px 10px 10px 0px;
    font-size: 15px;
}

#gameCardList > div:first-child {
    display: flex;
    align-items: flex-end;
    color: white;
    height: 200px;
}

#gameCardList > div:first-child > div {
    background-color: rgba(0, 0, 0, 0.781);
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

#gameCardList > div:nth-child(2) {
    background-color: $tagsBackColor;
    color: white;
    border: 3px solid $tagsBorderColor;
}

#gameCardList > div:nth-child(2) > div {
    padding: 5px 0px 0px 10px;
}

#gameCardList > div:nth-child(2) > div:first-child {
    padding-top: 8px;
}

#gameCardList > div:nth-child(2) > div:nth-child(3) {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}

#gameCardList > div:nth-child(2) > div:nth-child(3) > div:first-child {
    width: 250px;
    height: $progresBar;
    margin-right: 10px;    
    background-color: rgb(44, 79, 139);
}

#gameCardList > div:nth-child(2) > div:nth-child(3) > div:first-child > div {
    height: $progresBar;
    background-color: rgb(0, 153, 255);
}

#gameCardList > div:nth-child(3) {
    display: flex;
    border: 3px solid $tagsBorderColor;
    border-top: unset;
}

#gameCardList > div:nth-child(3) > div:first-child{
    width: 72%;
}

#gameCardList > div:nth-child(3) > div:nth-child(2){
    width: 28%;
    text-align: center;
}

#gameCardList > div:nth-child(3) > div:nth-child(2) > div{
    line-height: $heightValue - 2px;
    height: $heightValue - 2px;
    border: 3px solid $tagsBorderColor;
    border-top: unset;
    border-right: unset;
    color: white;
    background-color: $tagsBackColor;
}

#gameCardList > div:nth-child(3) > div:nth-child(2) > div:last-child{
    border-bottom: unset;
}

#gameCardList > div:nth-child(3) > div:first-child > div {
    display: flex;
    align-items: center;
    padding: 0px 5px;
    height: $heightValue;
}

#gameCardList > div:nth-child(3) > div:first-child > div > *{
    width: 100%;
    height: 30px;
}

#emptyList {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: rgb(91, 68, 126);
    height: 200px;
    line-height: 200px;
    cursor: default;
}

#emptyList::selection {
    background-color: transparent;
}

// ----------------------------------------------------------------------

@media screen and (max-width: 815px) {
    #gameList > div:nth-child(2) {
        display: none;
    }

    #gameList > div:nth-child(3) {
        display: flex;
        width: 95%;
    }
}