
<footer>
    <div id="socialNetwork">
        <a href="/maintenance" target="_blank">
            <font-awesome-icon :icon="['fab', 'youtube']" />
        </a>
        <a href="/maintenance" target="_blank">
            <font-awesome-icon :icon="['fab', 'twitter']" />
        </a>
        <a href="/maintenance" target="_blank">
            <font-awesome-icon :icon="['fab', 'square-facebook']" />
        </a>
        <a href="/maintenance" target="_blank">
            <font-awesome-icon :icon="['fab', 'instagram']" />
        </a>
        <a href="/maintenance" target="_blank">
            <font-awesome-icon :icon="['fab', 'github']" />
        </a>
    </div>
    <div>.ʕʘ‿ʘʔ.</div>
    <div id="enterprise">
        <div>™️ & ©️ 2023 MyJList, Inc. Todos os direitos reservados. MyJList marca registrada, Inc.</div>
    </div>
    <div id="terms">
        <div>
            <router-link to="/maintenance">AVISO DE PRIVACIDADE</router-link>
            <router-link to="/maintenance">TERMOS DE USO</router-link>
            <router-link to="/maintenance">PREFERENCIAS DE COOKIES</router-link>
        </div>
    </div>
</footer>