
<footer>
    <div id="socialNetwork">
        <a href="">
            <font-awesome-icon :icon="['fab', 'youtube']" />
        </a>
        <a href="">
            <font-awesome-icon :icon="['fab', 'twitter']" />
        </a>
        <a href="">
            <font-awesome-icon :icon="['fab', 'square-facebook']" />
        </a>
        <a href="">
            <font-awesome-icon :icon="['fab', 'instagram']" />
        </a>
        <a href="">
            <font-awesome-icon :icon="['fab', 'github']" />
        </a>
    </div>
    <div style="height: 50px; margin-top: 20px;">.ʕʘ‿ʘʔ.</div>
    <div id="enterprise">
        <div>™️ & ©️ 2023 MyJList, Inc. Todos os direitos reservados. MyJList marca registrada, Inc.</div>
    </div>
    <div id="terms">
        <div>
            <div>AVISO DE PRIVACIDADE</div>
            <div>TERMOS DE USO</div>
            <div>PREFERENCIAS DE COOKIES</div>
        </div>
    </div>
</footer>