footer {
    color: white;
}

footer > div:first-child{
    padding: 1vw 0px;
}

footer > div:nth-child(2) {
    font-size: 1lvw;
    margin: 0.5vw 0px 1.5vw 0px;
}

#socialNetwork, #enterprise, #terms, #terms > div, #socialNetwork a, footer > div:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
}

$socialSize: 2.3vw;

#socialNetwork a {
    background-color: #282828;
    margin: 0.5vw;
    font-size: 1lvw;
    width: $socialSize;
    height: $socialSize;
    color: white;
    border-radius: 0.6vw;
}

#enterprise {
    text-align: center;
    cursor: default;
    color: #7e7e7e;
    flex-direction: column;
}

#enterprise > div{
    font-size: 1.5vw;
}

#terms {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 0.7vw;
}

#terms > div > *{
    font-weight: 600;
    font-size: 1.6vh;
    margin: 0px 0.6vw;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    footer {
        padding-top: 5vw;
    }

    footer > div:first-child{
        padding: 0px;
    }
    
    footer > div:nth-child(2) {
        font-size: 3lvw;
        margin-top: 2vw;
        margin-bottom: 4vw;
    }
    
    $socialSize: 8vw;

    #socialNetwork a {
        margin: 2vw 3vw;
        font-size: 3lvw;
        width: $socialSize;
        height: $socialSize;
        border-radius: 2vw;
    }
    //--------------------
    #enterprise > div{
        font-size: 1.5lvw;
    }
    
    #terms {
        width: 100%;
        margin: 3vw 0px 8vw 0px;
    }
    
    #terms > div > *{
        font-size: 2.2vw;
        margin: 0px 1vw;
    }
}