
$colorKindaYellow: rgb(248, 206, 115);

#profilePage {
    height: 100%;
    min-height: 100vh;
    min-width: 320px;
    position: relative;
    background-color: #1a1a1a;
    user-select: none;
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none;
}

#followCheck {
    color:rgb(248, 206, 115); 
    width: 20px;
    height: 20px;
    cursor: default;
}

#profile > div:first-child {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    color: white;
}

#profile > div:first-child > div {
    z-index: 100;
}

#profile > div:first-child > div:nth-child(1) > div:first-child {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 582px;
    z-index: 8;
    background-image: url("https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Thresh_5.jpg");
    background-position: unset;
}

#profile > div:first-child > div:nth-child(1) > div:nth-child(2) {
    width: 100%;
    height: 588px;
    position: absolute;
    top: 180px;
    left: 0px;
    z-index: 10;
    background-color: rgb(0, 0, 0, 0.7);
}

// -------------------------------------------------------------

$limitWidth: 1500px;

#profile > div:first-child > div:nth-child(2) {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: $limitWidth;
    height: 400px;
    margin-top: 100px;
}

#profile > div:first-child > div:nth-child(2) > div {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 100%;
}

#userProfile {
    display: flex;
    align-items: center;
    width: 635px;
    flex-direction: column;
    // background-color: rgba(0, 0, 0, 0.452);
}

#userProfile > div:first-child {
    border-radius: 100%;
    width: 38%;
    position: relative;
    // width: 100%;
    // background-position: unset;
    margin-bottom: 5px;
    height: 240px;
    background-image: url("https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Kayn_0.jpg");
}

$infoHeigth: 40px;

#userProfile > div:first-child > :first-child {
    display: block;
    position: absolute;
    top: 10px;
    right: 17px;
    height: $infoHeigth;
    width: $infoHeigth;
    text-align: center;
    line-height: $infoHeigth + 3px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 100%;
    color: black;
    background-color:$colorKindaYellow;
}

#userProfile > div:first-child > :first-child::selection{
    background-color: transparent;
}

#userProfile > div:first-child > :first-child:active {
    transform: scale(0.9);
    -webkit-tap-highlight-color: transparent;
}

#userProfile > div:nth-child(2) {
    display: flex;
    margin: 15px 0px 0px 0px;
}

#network > * {
    // cursor: pointer;
    // color: gray;
    color: rgb(184, 7, 7);
}

#userProfile > div:nth-child(2) > div:first-child > div:nth-child(3), #network {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 140px;
    height: 40px;
}

#userProfile > div:nth-child(2) > div:first-child > div:nth-child(3) > div:last-child {
    cursor: pointer;
}

#userProfile > div:nth-child(2) > div:nth-child(2) {
    text-align: center;
    margin: 0px 25px;
}

#userProfile > div:nth-child(2) > div:nth-child(2) > :last-child {
    display: none;
}

#userProfile > div:nth-child(2) > div:nth-child(2) > div:nth-child(3) > div:last-child{
    cursor: pointer;
}

#countryLocation img {
    padding-left: 7px;
}

#linkList {
    width: 130px; 
    margin: 0px 20px;
}

#linkList > div {
    cursor: pointer; 
    border-bottom: 2px solid blueviolet;
}

// -----------------------------------------------------------------------------------------------
#statistics {
    display: flex;
    width: 635px;
    align-items: flex-end;
}

#statistics > div:nth-child(2) > button {
    display: none;
}

#statistics > div:nth-child(2) img{
    filter: invert(100%);
    margin-bottom: 40px;
}

#statistics > div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 115px 65px 0px;
}

#statistics > div:first-child  > div:first-child{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#statistics > div:first-child  > div:first-child > div{
    display: flex;
    width: 90%;
    text-align: center;
    justify-content: space-between;
}

#statistics > div:first-child  > div:first-child > div > div:first-child{
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

#statistics > div:first-child  > div:first-child > div > div:nth-child(2){
    text-align: start;
    width: 100px;
}

#statistics > div:first-child  > div:first-child > div > div:nth-child(3){
    width: 100px;
    text-align: end;
}

#statistics > div:first-child  > div:nth-child(2) {
    display: flex; 
    text-align: center;
    margin-top: 30px;
    justify-content: space-around;
    width: 90%;
}

// -----------------------------------------------------------------------------------------------

#profileData {
    display: flex;
    justify-content: center;
    color: white;
    background: #1a1a1a;
    width: 100%;
    height: 500px;
}

#myGameList {
    display: flex;
    color: white;
    background-color: rgb(153 0 138);
    padding: 10px 0px;
    border: unset;
    width: 100%;
    justify-content: center;
    border-radius: 3px;
}

#myGameList > span {
    padding-right: 5px;
}

#profileData > div {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: $limitWidth;
}

#profileData > div > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 640px;
    height: 100%;
} 

#profileData > div > div:first-child > div:first-child {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#profileData > div > div:first-child > div:first-child > div:first-child {
    width: 290px;
}

#profileData > div > div:first-child > div:first-child > div:first-child > div{ 
    margin-top: 20px;
    margin-bottom: 10px;
}

#profileNotes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 310px;
}

#profileNotes > :nth-child(1){
    display: flex;
    height: 20px;
    line-height: 25px;
}

#profileNotes > :nth-child(1) > :nth-child(2){
    margin: 0 0 auto 10px; 
    font-size: 2vh;
    color: $colorKindaYellow;
    cursor: pointer;
}

#profileNotes > :nth-child(1) > :nth-child(2):active{
    color: white;
}

#profileNotes > :nth-child(2){
    display: flex;
    align-items: flex-start;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    height: 86px;
    padding: 5px 5px 5px 7px;
    color: black;
    border: unset;
    margin-top: 5px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

#profileData > div > div:first-child > div:first-child > div:first-child > div > div {
    display: flex;
    justify-content: space-between;
}

#historyList {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    height: 180px;
}

#historyList > div:first-child {
    height: 20px;
    border-bottom: 3px solid white;
    margin-bottom: 10px;
}

#historyList > div:nth-child(2) {
    display: flex;
    width: 100%;
    height: 80%;
}

#historyList > div:nth-child(2) > * {
    height: 100%;
    width: 24%;
    margin-right: 7px;
}

#historyList > div:nth-child(2) > * > div {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

#profileData > div > div:first-child > div:nth-child(3){
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 120px;
    width: 100%;
}

#profileData > div > div:first-child > div:nth-child(3) > div{
    display: flex;
    align-items: center;
    color: black;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

#profileData > div > div:first-child > div:nth-child(3) > div > svg{
    transform: scale(0.7);
    margin-left: 10px;
    margin-right: 10px;
}

#profileData > div > div:first-child > div:nth-child(3) > div > div{
    margin-top: 3px;
}
// -----------------------------------------------------------------------
$partTwoHeight: 140px;

#profileData > div > div:nth-child(2) > div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: $partTwoHeight;
}

#profileData > div > div:nth-child(2) > div:first-child > div:first-child {
    border-bottom: 3px solid white;
    height: 20px;
}

#profileData > div > div:nth-child(2) > div:nth-child(2) {
    height: calc(100% - $partTwoHeight - 20px);
}

#profileData > div > div:nth-child(2) > div:nth-child(2) > div:first-child {
    border-bottom: 3px solid white;
    height: 20px;
}

#profileData > div:first-child > div:first-child > div:first-child > div:first-child > div:nth-child(2) > div > div:nth-child(2){
    width: 20px; 
    text-align: center;
}

#profileData > div:first-child > div:first-child > div:first-child > div:first-child > div:nth-child(2) > div > div:nth-child(2) > :first-child{
    font-size: 12px;
}

#friends {
    display: flex;
    margin-top: 10px;
}

#friends > div{
    margin: 0 9px;
}

$friendSize: 80px;

#friend {
    width: $friendSize;
    height: $friendSize;
    cursor: pointer;
    border-radius: 100%;
}

.containerBorderAnimation:hover {
    transform: scale(0.97);
}

#favGame {
    display: flex;
    flex-wrap: wrap;
    min-height: 120px;
    margin-top: 10px;
}

$favSize: 120px;

#favGame > * {
    margin: 10px;
    width: $favSize + 15px;
    height: $favSize - 10px;
    border-radius: 10px;
}

#userBornDate, #userJoined {
    display: flex;
}

#userBornDate > div:last-child, #userJoined > div:last-child {
    margin-left: 5px;
}

// ------------------------------------------------------------

@media screen and (max-width: 1350px) {
    #profileData {
        height: auto;
    }

    #profileData > div {
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    #userProfile > div:nth-child(2) {
        display: flex;
        margin: 10px 0px;
    }

    #profile > div:first-child > div:nth-child(2) {
        height: auto;
    }

    #profile > div:first-child > div:nth-child(2) > div {
        flex-direction: column;
        align-items: center;
    }

    #profileData > div > div:first-child > div:first-child{
        margin-top: 20px;
    }

    #profile > div:first-child > div:nth-child(1) > div:first-child{
        height: 830px;
    }

    #statistics > div:nth-child(2) img{
        margin-top: 10px;
        margin-bottom: 20px;
    }
    
    #statistics > div:first-child {
        margin: 10px 75px 35px 40px;
    }    
}

@media screen and (max-width: 675px) {

    #followCheck {
        color: rgb(30, 21, 151);
    }

    #profile > div:first-child > div:nth-child(1) > div:first-child{
        height: 880px;
    }

    #profile > div:first-child > div:nth-child(1) > div:nth-child(2) {
        height: 620px;
    }

    #userProfile {
        width: 100%;
    }

    #userProfile > div:first-child {
        width: 240px;
    }

    #userProfile > div:nth-child(2) > div:first-child, #userProfile > div:nth-child(2) > div:nth-child(3)  {
        display: none;
    }

    #userProfile > div:nth-child(2) > div:nth-child(2) > div:nth-child(2){
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #userProfile > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div{
        display: none;
    }

    #userProfile > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div:first-child{
        display: block;
        width: 130px;
    }

    #userProfile > div:nth-child(2) > div:nth-child(2) > :last-child {
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: black;
        height: 36px;
        width: 280px;
        border-radius: 5px;
        margin: 20px 0px;
        background-color: white;
    }

    #network {
        width: 105px;
        height: 30px;
    }

    #profileData > div > div{
        width: auto;
    }

    #profileData > div > div:first-child > div:first-child{
        flex-direction: column;
        align-items: center;
        margin: 20px 0;
    }

    #statistics {
        flex-direction: column;
        width: auto;
        align-items: center;
    }

    #statistics > div:first-child {
        margin: 0px 0px 20px 0px;
    }

    #statistics > div:nth-child(2) > button {
        display: block;
        background-color: #283e59;
        border: unset;
        width: 290px;
        height: 36px;
        font-size: 16px;
        font-family: "Josefin Sans", sans-serif;
        border-radius: 5px;
        color: white;
        margin: 15px 0px;
    }

    #statistics > div:nth-child(2) img {
        display: none;
    }

    #profileData > div > div:last-child {
        align-items: center;
        width: 100%;
    } 

    #profileData > div > div:last-child > div {
        width: 90%;
    }

    #profileData > div > div:nth-child(2) > div:first-child > div:first-child,
    #profileData > div > div:nth-child(2) > div:nth-child(2) > div:first-child {
        width: 92%;
        margin-left: 12px;
    }

    #userBornDate, #userJoined {
        flex-direction: column;
    }

    #userBornDate > div:last-child, #userJoined > div:last-child {
        margin-left: 0px;
    }
}

@media screen and (max-width: 350px) {
    #favGame a {
        width: 100%;
    }
}