<div id="profilePage">
    <span class="backPage">
        <GoBackComponent />
    </span>
    <div id="profile">
        <div>
            <div>
                <div class="backImageConfig"></div>
                <div></div>
            </div>
            <div>
                <div>
                    <div id="userProfile">
                        <div class="backImageConfig">
                            <div style="font-family: 'Secular One', sans-serif;">i</div>
                        </div>
                        <div>
                            <div>
                                <div>Status: {{(obj.user.status == "off")? 'Offline': 'Online'}}</div>
                                <div id="userJoined">
                                    <div>Joined:</div>
                                    <div>{{obj.user.joined}}</div>
                                </div>
                                <div>
                                    <div title="chat">
                                        <!-- <font-awesome-icon  :icon="['fas', 'paper-plane']" /> -->
                                        <font-awesome-icon style="color: rgb(168, 168, 168);" :icon="['fas', 'ban']" />
                                    </div>
                                    <div title="send a gift">
                                        <!-- <font-awesome-icon :icon="['fas', 'gift']" /> -->
                                        <font-awesome-icon style="color: rgb(168, 168, 168);" :icon="['fas', 'ban']" />
                                    </div>
                                    <div title="usuarios bloqueados">
                                        <!-- <font-awesome-icon :icon="['fas', 'user-slash']" /> -->
                                        <font-awesome-icon style="color: rgb(168, 168, 168);" :icon="['fas', 'ban']" />
                                    </div>
                                    <div title="solicitação de amizade or add Friend">
                                        <font-awesome-icon :icon="['fas', 'user-plus']" @click="friendRequest"/>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div id="countryLocation" class="centralize">
                                    <div>Location: </div>
                                    <img v-if="obj.user.nationality.name != ''" :title="obj.user.nationality.name" 
                                    :src="`https://flagcdn.com/24x18/${obj.user.nationality.cod.toLowerCase()}.png`" 
                                    :srcset="`https://flagcdn.com/48x36/${obj.user.nationality.cod.toLowerCase()}.png 2x, 
                                    https://flagcdn.com/72x54/${obj.user.nationality.cod.toLowerCase()}.png 3x`" 
                                    width="24" height="18" :alt="obj.user.nationality.name">
                                </div>
                                <div>
                                    <h3>{{obj.user.nickname}}</h3>
                                    <div id="linkList">
                                        <div>Also Available at</div>
                                    </div>
                                </div>
                                <div>
                                    <div title="chat">
                                        <font-awesome-icon style="color: rgb(168, 168, 168);" :icon="['fas', 'paper-plane']" />
                                    </div>
                                    <div title="send a gift">
                                        <font-awesome-icon style="color: rgb(184, 184, 184);" :icon="['fas', 'gift']" />
                                    </div>
                                    <div title="usuarios bloqueados">
                                        <font-awesome-icon style="color: rgb(184, 184, 184);" :icon="['fas', 'user-slash']" />
                                    </div>
                                    <div title="solicitação de amizade or add Friend">
                                        <font-awesome-icon :icon="['fas', 'user-plus']" @click="friendRequest"/>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div>Sex: {{(obj.user.sexuality == "M") ? "Masculine": "Feminine"}}</div>
                                <div id="userBornDate">
                                    <div>Birthday:</div>
                                    <div>{{obj.user.bornDate}}</div>
                                </div>
                                <div id="network">
                                    <font-awesome-icon :icon="['fab', 'twitter']" />
                                    <font-awesome-icon :icon="['fab', 'square-facebook']" />
                                    <font-awesome-icon :icon="['fab', 'instagram']" />
                                    <font-awesome-icon :icon="['fab', 'youtube']" />
                                    <font-awesome-icon :icon="['fab', 'twitch']" />  
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="statistics">
                        <div>
                            <div>
                                <div>
                                    <div style="background-color: green;"></div>
                                    <div>Playing</div>
                                    <div>{{obj.user.playing}}</div>
                                </div>
                                <div>
                                    <div style="background-color: blue;"></div>
                                    <div>Complete</div>
                                    <div>{{obj.user.completed}}</div>
                                </div>
                                <div>
                                    <div style="background-color: yellow;"></div>
                                    <div>On-Hold</div>
                                    <div>{{obj.user.onHold}}</div>
                                </div>
                                <div>
                                    <div style="background-color: red;"></div>
                                    <div>Dropped</div>
                                    <div>{{obj.user.dropped}}</div>
                                </div>
                                <div>
                                    <div style="background-color: gray;"></div>
                                    <div>Plan to Play</div>
                                    <div>{{obj.user.planning}}</div>
                                </div>
                                <div>
                                    <div style="background-color: rgb(7, 180, 180);"></div>
                                    <div>Replayed</div>
                                    <div>{{obj.user.replayed}}</div>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <div>{{obj.user.playing + obj.user.completed + obj.user.dropped + obj.user.onHold}}</div>
                                    <div>Total Entries</div>
                                </div>
                                <div>
                                    <div>{{Math.round(hoursMinutes(obj.user.hours)[0]/24, 0)}}</div>
                                    <div>Total Days</div>
                                </div>
                                <div>
                                    <div>{{hoursMinutes(obj.user.hours)[0]}}</div>
                                    <div>Total Hours</div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <img src="https://cdn-icons-png.flaticon.com/512/64/64720.png" width="230" height="230" alt="imagem"/>
                            <button>User Statistics</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="profileData">
                <div v-if="obj.user.nationality != undefined">
                    <div>
                        <div>
                            <div>
                                <router-link id="myGameList" :to="`/gameList/${obj.user.id}`">
                                    <span>
                                        {{(auth.id != 0 && obj.user.id == auth.id) ? 'My': ((obj.user.sexuality == "M")? 'His' : 'Her')}}
                                    </span> Game List
                                </router-link>
                                <div>
                                    <div>
                                        <div>Forum Posts</div>
                                        <div style="color: gray;">
                                            <font-awesome-icon :icon="['fas', 'ban']" />
                                        </div>
                                    </div>
                                    <div>
                                        <div>Reviews</div>
                                        <div style="color: gray;">
                                            <font-awesome-icon :icon="['fas', 'ban']" />
                                        </div>
                                    </div>
                                    <div>
                                        <div>Clubs</div>
                                        <div style="color: gray;">
                                            <font-awesome-icon :icon="['fas', 'ban']" />
                                        </div>
                                    </div>
                                    <div>
                                        <div>Recomendations</div>
                                        <div>{{obj.user.recommendations}}</div>
                                    </div>
                                </div>
                            </div>
                            <div id="profileNotes">
                                <div>Notes</div>
                                <textarea v-if="auth.id != 0 && obj.user.id == auth.id" placeholder="Type your note right here!" v-model="auth.note"></textarea>
                                <div v-else :style="{overflowY: (auth.note.length > 288)? 'scroll': ''}">{{auth.note}}</div>
                            </div>
                        </div>
                        <div id="historyList">
                            <div>Last Games Updates</div>
                            <div>
                                <router-link v-for="item in obj.user.lastUpdated" :to="`/singleGame/${item.game.id}`">
                                    <div class="backImageConfig" :style="{backgroundImage: `url(${item.game.gameImage})`}"></div>
                                </router-link>
                            </div>
                        </div>
                        <div>
                            <div>
                                <font-awesome-icon :icon="['fas', 'chevron-right']" />
                                <div>Favorite Staff</div>
                            </div>
                            <div>
                                <font-awesome-icon :icon="['fas', 'chevron-right']" />
                                <div>Favorite Cast</div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div>Friends</div>
                            <div id="friends">
                                <router-link v-if="obj.user.friend.length != 0" v-for="item in obj.user.friend" :to="`/user/${obj.user.id}`">
                                    <div id="friend" class="backImageConfig" :style="{backgroundImage: `url(${(obj.user.sexuality === 'Male') ? imgType.male : imgType.female})`}"></div>
                                </router-link>
                                <div v-else style="text-align: center; width: 100%;">
                                    <div>No Friend Found</div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div>Favorite Games</div>
                            <div id="favGame">
                                <router-link v-for="item in obj.user.favoriteGames" :to="`/singleGame/${item.game.id}`"
                                class="backImageConfig" :style="{backgroundImage: `url(${item.game.gameImage})`}"></router-link>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>